<div class="container mt-5" style="max-width:800px;">
  <div class="card">
    <div *ngIf="!editing" class="card-header">Julkaise artikkeli</div>
    <div *ngIf="editing" class="card-header">Muokkaa artikkelia</div>
    <div class="card-body">
      <form #addArticleForm="ngForm" (ngSubmit)="addArticle(addArticleForm)">
        <div class="form-group">
          <label for="articleHeaderImg">Kuva</label>
          <input
            type="file"
            name="articleImage"
            class="form-control-file"
            (change)="fileChangeEvent($event)"
          />
        </div>
        <image-cropper
          *ngIf="showCropper"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="21 / 9"
          [resizeToWidth]="700"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>

        <p *ngIf="fileError" class="text-danger">{{ fileError }}</p>
        <div class="text-center"><img [src]="croppedImage" class="mb-3" /></div>

        <button
          type="button"
          *ngIf="croppedImage && showCropper"
          class="btn btn-primary mb-5"
          (click)="saveImage()"
        >
          Tallenna kuva
        </button>

        <div class="form-group">
          <label for="articleTitle">Otsikko</label>
          <input
            type="text"
            name="title"
            class="form-control"
            #articleTitle="ngModel"
            [ngClass]="{
              'is-invalid': articleTitle.errors && articleTitle.touched
            }"
            [(ngModel)]="article.title"
            minlength="5"
            required
          />
          <div
            [hidden]="!articleTitle.errors?.required"
            class="invalid-feedback"
          >
            Otsikko vaaditaan
          </div>
          <div
            [hidden]="!articleTitle.errors?.minlength"
            class="invalid-feedback"
          >
            Otsikon pitää olla vähintään 5 merkkiä pitkä
          </div>
        </div>
        <div class="form-group">
          <label for="articleBody">Teksti</label>
          <app-tinymce
            name="body"
            [(ngModel)]="article.body"
            minlength="100"
            required
          ></app-tinymce>
        </div>
        <div class="form-group">
          <label for="hashtags">Tagit (erota pilkulla)</label>
          <p class="text-muted" *ngIf="article.tags.length > 0">
            <ng-container *ngFor="let tag of article.tags; let i = index">
              <span class="tag" (click)="removeTagFromArticle(i)"
                >#{{ tag }}
              </span>
            </ng-container>
          </p>
          <input
            type="text"
            name="hashtags"
            class="form-control"
            #hashtags="ngModel"
            [(ngModel)]="articleTag"
            [ngClass]="{ 'is-invalid': hashtags.errors && hashtags.touched }"
            minlength="3"
            (keyup)="addTagToArticle($event.key)"
          />
          <div [hidden]="!hashtags.errors?.minlength" class="invalid-feedback">
            Tagin pitää olla vähintään kolme merkkiä pitkä
          </div>
        </div>
        <input
          type="submit"
          value="Julkaise"
          class="btn btn-primary btn-block"
          [disabled]="
            !addArticleForm.form.valid ||
            article.tags.length === 0 ||
            uploadingImage
          "
        />
      </form>
    </div>
  </div>
</div>
