<div class="container mt-5" style="max-width:800px;">
  <div class="card">
    <div *ngIf="!editing" class="card-header">{{ 'PUBLISH_ARTICLE' | translate }}</div>
    <div *ngIf="editing" class="card-header">{{ 'EDIT_ARTICLE' | translate }}</div>
    <div class="card-body">
      <form #addArticleForm="ngForm" (ngSubmit)="addArticle()">
        <div class="form-group">
          <label for="articleHeaderImg">{{ 'PICTURE' | translate }}</label>
          <input type="file" name="articleImage" class="form-control-file" (change)="fileChangeEvent($event)" />
        </div>
        <image-cropper
          *ngIf="showCropper"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="21 / 9"
          [resizeToWidth]="700"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>

        <p *ngIf="fileError" class="text-danger">{{ fileError }}</p> <div class="text-center"><img [src]="croppedImage" class="mb-3"/></div>

        <button type="button" *ngIf="croppedImage && showCropper" class="btn btn-primary mb-5" (click)="saveImage()">
          {{ 'SAVE_PICTURE' | translate }}
        </button>

        <img *ngIf="article.image && editing && !imageChanged" class="img-fluid mb-4" src="{{'data:image/jpg;base64,' + article.image}}" />

        <div class="form-group">
          <label for="articleTitle">{{ 'ARTICLE_TITLE' | translate }}</label>
          <input
            type="text"
            name="title"
            class="form-control"
            #articleTitle="ngModel"
            [ngClass]="{
              'is-invalid': articleTitle.errors && articleTitle.touched
            }"
            [(ngModel)]="article.title"
            minlength="5"
            required
          />
          <div [hidden]="!articleTitle.errors?.required" class="invalid-feedback"> {{ 'ARTICLE_TITLE_REQUIRED' | translate }} </div>
          <div [hidden]="!articleTitle.errors?.minlength" class="invalid-feedback"> {{ 'ARTICLE_TITLE_NOT_LONG_ENOUGH' | translate }} </div>
        </div>
        <div class="form-group">
          <label for="articleBody">{{ 'ARTICLE_BODY' | translate }}</label>
          <app-tinymce name="body" [(ngModel)]="article.body" minlength="100" required></app-tinymce>
        </div>
        <div class="form-group">
          <label for="hashtags">{{ 'TAGS_SEPARATED_BY_COMMA' | translate }}</label>
          <p class="text-muted" *ngIf="article.tags.length > 0">
            <ng-container *ngFor="let tag of article.tags; let i = index">
              <span class="tag" (click)="removeTagFromArticle(i)">#{{ tag }} </span>
            </ng-container>
          </p>
          <input
            type="text"
            name="hashtags"
            class="form-control"
            #hashtags="ngModel"
            [(ngModel)]="articleTag"
            [ngClass]="{ 'is-invalid': hashtags.errors && hashtags.touched }"
            minlength="3"
            (keyup)="addTagToArticle($event.key)"
          />
          <div [hidden]="!hashtags.errors?.minlength" class="invalid-feedback"> {{ 'TAG_NOT_LONG_ENOUGH' | translate }} </div>
        </div>
        <input
          type="submit"
          value="Julkaise"
          class="btn btn-primary btn-block"
          [disabled]="!addArticleForm.form.valid || article.tags.length === 0"
        />
      </form>
    </div>
  </div>
</div>
