<div class="container-fluid">
  <div *ngIf="isLoggedIn" class="form-check">
    <input type="checkbox" class="form-check-input" (change)="foodsByOthers()" />
    <label class="form-check-label">{{ 'INCLUDE_FOODS_BY_OTHERS' | translate }}</label>
  </div>
  <div class="form-group">
    <input
      type="text"
      #searchbar
      name="searchFood"
      class="form-control"
      placeholder="{{ 'SEARCH_FOODS' | translate }}"
      (keyup)="searchFoods()"
      [(ngModel)]="searchTerm"
    />
  </div>
  <ng-container *ngIf="searchTerm?.length > 0">
    <ul class="search-results">
      <li
        *ngFor="let food of results; let i = index"
        class="food-name"
        (click)="openModal(selectedFoodModal, food)"
        [ngClass]="{ 'food-name-color': food.username === user.username }"
      >
        <div class="row">
          <div class="col-9"> {{ food.name }} </div>
          <div class="col text-right">
            <span class="mr-2"> {{ food.energia.toFixed(0) }}{{ 'KCAL' | translate }} </span>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #selectedFoodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedFood.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <span class="lead">{{ 'ENERGY' | translate }}:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.energia.toFixed(0) }} {{ 'KCAL' | translate }}</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">{{ 'PROTEIN' | translate }}:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.proteiini ? selectedFood.proteiini.toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="lead">{{ 'CARBS' | translate }}:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.hh ? selectedFood.hh.toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">{{ 'FAT' | translate }}:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.rasva ? selectedFood.rasva.toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="lead">{{ 'FIBER' | translate }}:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.kuitu ? selectedFood.kuitu.toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">{{ 'SUGAR' | translate }}:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.sokeri ? selectedFood.sokeri.toFixed(0) : 0 }}g</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="btn-group btn-group-toggle mt-3 text-center" ngbRadioGroup [(ngModel)]="amountClicked">
        <label [ngClass]="{ 'btn-primary': selectedAmount !== 10, success: selectedAmount === 10 }" ngbButtonLabel>
          <input type="radio" ngbButton [value]="10" (click)="setAmount(10)" /> 10g
        </label>
        <label [ngClass]="{ 'btn-primary': selectedAmount !== 30, success: selectedAmount === 30 }" ngbButtonLabel>
          <input type="radio" ngbButton [value]="30" (click)="setAmount(30)" /> 30g
        </label>
        <label [ngClass]="{ 'btn-primary': selectedAmount !== 50, success: selectedAmount === 50 }" ngbButtonLabel>
          <input type="radio" ngbButton [value]="50" (click)="setAmount(50)" /> 50g
        </label>
        <label [ngClass]="{ 'btn-primary': selectedAmount !== 100, success: selectedAmount === 100 }" ngbButtonLabel>
          <input type="radio" ngbButton [value]="100" (click)="setAmount(100)" /> 100g
        </label>
      </div>
    </div>
    <div *ngIf="selectedFood.servingSize || selectedFood.packageSize" class="row justify-content-center">
      <div class="btn-group btn-group-toggle mt-1 text-center" ngbRadioGroup [(ngModel)]="selectedAmount">
        <label
          *ngIf="selectedFood.servingSize && defaultValues.indexOf(selectedFood.servingSize) === -1"
          [ngClass]="{ 'btn-primary': selectedAmount !== selectedFood.servingSize, success: selectedAmount === selectedFood.servingSize }"
          ngbButtonLabel
        >
          <input type="radio" ngbButton [value]="selectedFood.servingSize" (click)="setAmount(selectedFood.servingSize)" /> {{ selectedFood.servingSize }}g
        </label>
        <label
          *ngIf="selectedFood.packageSize && defaultValues.indexOf(selectedFood.packageSize) === -1"
          [ngClass]="{ 'btn-primary': selectedAmount !== selectedFood.packageSize, success: selectedAmount === selectedFood.packageSize }"
          ngbButtonLabel
        >
          <input type="radio" ngbButton [value]="selectedFood.packageSize" (click)="setAmount(selectedFood.packageSize)" /> {{ selectedFood.packageSize }}g
        </label>
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="amount">{{ 'AMOUNT' | translate }}</label>
      <input
        type="number"
        (keydown.enter)="modal.close('save')"
        class="form-control"
        placeholder="100g"
        [(ngModel)]="selectedAmount"
        #amountInput
        ngbAutoFocus
      />
    </div>
    <div class="form-group mt-2">
      <select class="form-control" [(ngModel)]="selectedMeal">
        <option *ngFor="let meal of meals" [ngValue]="meal">{{ meal }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-warning" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-primary" (click)="modal.close('save')">{{ 'ADD' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
