li:hover {
  background: #ff3b3f;
  color: white;
  padding: 2px;
  font-size: 18px;
}

.food-name-color {
  color: orange;
}

.food-name:hover {
  cursor: pointer;
}

.fa-trash-alt:hover {
  cursor: pointer;
}

.success {
  background: #5cb85c !important;
}

.search-results {
  list-style: none;
  padding-left: 0;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
