<div class="container-fluid">
  <div class="form-check">
    <input type="checkbox" class="form-check-input" (change)="foodsByOthers()">
    <label class="form-check-label">Sisällytä hakuun muiden lisäämät ruoat</label>
  </div>
  <div class="form-group">
    <input type="text" name="food" class="form-control" placeholder="Hae ruokia" (keyup)="searchFoods()" [(ngModel)]="searchTerm">
  </div>
  <ng-container *ngIf="searchTerm?.length > 0">
    <ul>
      <li *ngFor="let food of results; let i = index;" (click)="openModal(content, food)">
        <div class="row">
          <div class="col">
            {{ food.name }}
          </div>
          <div class="col text-right">
            <span class="mr-2">{{ food.energia.toFixed(0) }}kcal</span>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedFood.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <span class="lead">Energia:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.energia }} kcal</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">Proteiini:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.proteiini ? selectedFood.proteiini : 0 }}g</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="lead">Hiilihydraatti:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.hh ? selectedFood.hh : 0 }}g</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">Rasva:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.rasva ? selectedFood.rasva : 0 }}g</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="lead">Kuitu:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.kuitu ? selectedFood.kuitu : 0 }}g</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">Sokeri:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.sokeri ? selectedFood.sokeri : 0 }}g</span>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="btn-group btn-group-toggle mt-3 text-center" ngbRadioGroup [(ngModel)]="selectedAmount">
        <label class="btn-primary" ngbButtonLabel>
          <input type="radio" ngbButton [value]="10"> 10g
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="radio" ngbButton [value]="30"> 30g
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="radio" ngbButton [value]="50"> 50g
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="radio" ngbButton [value]="100"> 100g
        </label>
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="amount">Määrä</label>
      <input type="number" class="form-control" placeholder="100g" [(ngModel)]="selectedAmount">
    </div>
    <div class="form-group mt-2">
      <select class="form-control" [(ngModel)]="selectedMeal">
        <option *ngFor="let meal of meals" [ngValue]="meal">{{ meal }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-primary" (click)="modal.close('save')">Lisää</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-light" (click)="modal.close('cancel')">Peruuta</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>