<div class="container-fluid">
  <div *ngIf="isLoggedIn" class="form-check">
    <input type="checkbox" class="form-check-input" (change)="foodsByOthers()">
    <label class="form-check-label">Sisällytä hakuun muiden lisäämät ruoat</label>
  </div>
  <div class="form-group">
    <input type="text" name="food" class="form-control" placeholder="Hae ruokia" (keyup)="searchFoods()" [(ngModel)]="searchTerm">
  </div>
  <ng-container *ngIf="searchTerm?.length > 0">
    <ul class="search-results">
      <li *ngFor="let food of results; let i = index;" class="food-name" (click)="openModal(selectedFoodModal, food)"
        [ngClass]="{ 'food-name-color': food.username === user.username }">
        <div class="row">
          <div class="col-9">
            {{ food.name }}
          </div>
          <div class="col text-right">
            <span class="mr-2">
              {{ food.energia.toFixed(0) }}kcal
            </span>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
</div>

<ng-template #selectedFoodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedFood.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <span class="lead">Energia:</span>
        </div>
        <div class="col text-right">
          <span>{{ (selectedFood.energia).toFixed(0) }} kcal</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">Proteiini:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.proteiini ? (selectedFood.proteiini).toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="lead">Hiilihydraatti:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.hh ? (selectedFood.hh).toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">Rasva:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.rasva ? (selectedFood.rasva).toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="lead">Kuitu:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.kuitu ? (selectedFood.kuitu).toFixed(0) : 0 }}g</span>
        </div>
      </div>
      <div class="row bg-light">
        <div class="col">
          <span class="lead">Sokeri:</span>
        </div>
        <div class="col text-right">
          <span>{{ selectedFood.sokeri ? (selectedFood.sokeri).toFixed(0) : 0 }}g</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="btn-group btn-group-toggle mt-3 text-center" ngbRadioGroup [(ngModel)]="selectedAmount">
        <label [ngClass]="{'btn-primary' : selectedAmount !== 10, 'success': selectedAmount === 10}" ngbButtonLabel>
          <input type="radio" ngbButton [value]="10"> 10g
        </label>
        <label [ngClass]="{'btn-primary' : selectedAmount !== 30, 'success': selectedAmount === 30}" ngbButtonLabel>
          <input type="radio" ngbButton [value]="30"> 30g
        </label>
        <label [ngClass]="{'btn-primary' : selectedAmount !== 50, 'success': selectedAmount === 50}" ngbButtonLabel>
          <input type="radio" ngbButton [value]="50"> 50g
        </label>
        <label [ngClass]="{'btn-primary' : selectedAmount !== 100, 'success': selectedAmount === 100}" ngbButtonLabel>
          <input type="radio" ngbButton [value]="100"> 100g
        </label>
      </div>
    </div>
    <div *ngIf="selectedFood.servingSize || selectedFood.packageSize" class="row justify-content-center">
      <div class="btn-group btn-group-toggle mt-1 text-center" ngbRadioGroup [(ngModel)]="selectedAmount">
        <label *ngIf="selectedFood.servingSize && defaultValues.indexOf(selectedFood.servingSize) === -1" [ngClass]="{'btn-primary' : selectedAmount !== selectedFood.servingSize, 'success': selectedAmount === selectedFood.servingSize}"
          ngbButtonLabel>
          <input type="radio" ngbButton [value]="selectedFood.servingSize"> {{ selectedFood.servingSize }}g
        </label>
        <label *ngIf="selectedFood.packageSize && defaultValues.indexOf(selectedFood.packageSize) === -1" [ngClass]="{'btn-primary' : selectedAmount !== selectedFood.packageSize, 'success': selectedAmount === selectedFood.packageSize}"
          ngbButtonLabel>
          <input type="radio" ngbButton [value]="selectedFood.packageSize"> {{ selectedFood.packageSize }}g
        </label>
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="amount">Määrä</label>
      <input type="number" class="form-control" placeholder="100g" [(ngModel)]="selectedAmount">
    </div>
    <div class="form-group mt-2">
      <select class="form-control" [(ngModel)]="selectedMeal">
        <option *ngFor="let meal of meals" [ngValue]="meal">{{ meal }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-primary" (click)="modal.close('save')">Lisää</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-light" (click)="modal.close('cancel')">Peruuta</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>