<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <h1 class="display-4 text-muted text-center">{{ 'MAKRO_INFO_TITLE' | translate }}</h1>
      <h6 class="h6 text-muted text-center">
        {{ 'MAKRO_INFO_SUBTITLE' | translate }} <a href="mailto:support@makro.diet">{{ 'HERE' | translate }}.</a> :)
      </h6>
      <p class="lead mt-3">
        {{ 'MAKRO_INFO_TEXT_PART_1' | translate }} <a href="https://paypal.me/tukki" target="_blank">{{ 'HERE' | translate }}.</a>
        {{ 'MAKRO_INFO_TEXT_PART_2' | translate }}
      </p>
      <p class="lead">{{ 'MAKRO_INFO_TEXT_PART_3' | translate }}</p>
      <p class="lead">{{ 'MAKRO_INFO_TEXT_PART_4' | translate }}</p>
      <p class="lead">-Arto</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
      <div class="card">
        <div class="card-header lead">{{ 'INFO_TIPS_TITLE' | translate }}</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ 'TIP_0' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_1' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_2' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_3' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_4' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_5' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_6' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_7' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_8' | translate }}</li>
          <li class="list-group-item">{{ 'TIP_9' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
