.fa-caret-up:hover,
.fa-caret-down:hover {
  cursor: pointer;
}

.horizontal {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal .row {
  flex-wrap: nowrap;
}

.horizontal .row .col-12 {
  display: inline-block;
}

.display-button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  .two {
    max-width: 50%;
  }
}
