################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/makro/v16
/email/node_modules
/rest-api/.vscode
/.vs
