.answer-button:hover {
  color: #ff3b3f !important;
  cursor: pointer;
}

.answer-text {
  font-size: 14px;
}

.far:hover {
  color: #ff3b3f;
  cursor: pointer;
}

.mobile {
  visibility: hidden;
}

@media screen and (max-width: 360px) {
  .hidden {
    visibility: hidden;
  }

  .mobile {
    visibility: visible;
  }
}
