<img *ngIf="image" class="img-fluid" [src]="image" />
<div class="article justify-content-center">
  <h1 class="h1">{{ article.title }}</h1>
  <p class="lead" [innerHTML]="article.body"></p>
  <div class="row">
    <div class="col-4">
      <p class="text-muted">Kirjoittaja: {{ article.username }}</p>
    </div>
    <div class="col-4">
      <p class="text-muted">
        Julkaistu: {{ article.createdAt | date: 'dd.MM.yyyy' }}
      </p>
    </div>
    <div class="col-4">
      <p class="text-muted">
        Päivitetty: {{ article.updatedAt | date: 'dd.MM.yyyy' }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-muted">
        <ng-container *ngFor="let tag of article.tags"
          >#{{ tag }}
        </ng-container>
      </p>
    </div>
  </div>
  <div *ngIf="article.username === user.username" class="row">
    <div class="col">
      <span class="text-warning edit-article" (click)="editArticle()"
        ><i class="far fa-edit"></i> Muokkaa</span
      >
    </div>
  </div>
</div>
<hr />
