.article {
  padding: 10px;
  word-wrap: break-word;
}

.edit-remove-button:hover {
  cursor: pointer;
}

.container {
  max-width: 720px;
}

.bg-light {
  padding: 1rem;
}

.answer-button:hover {
  color: #ff3b3f !important;
  cursor: pointer;
}

.answer-text {
  font-size: 14px;
}

.far:hover {
  color: #ff3b3f;
  cursor: pointer;
}
