<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="container mt-4">
  <h2 class="h2 text-center mt-4">{{ 'HELP_DEVELOPMENT' | translate }}</h2> <hr />
  <h2 class="h2 text-center mt-4">{{ 'EDIT_OR_DELETE_FOODS' | translate }}</h2>
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 all-foods-list">
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        <input
          *ngIf="!loading"
          type="text"
          name="food"
          class="form-control mb-3"
          placeholder="{{ 'SEARCH_FOODS' | translate }}"
          (keyup)="searchFoods()"
          [(ngModel)]="searchTerm"
        />
        <ul *ngIf="!loading && results.length === 0" class="list-group">
          <li class="list-group-item disabled">{{ 'ALL_FOODS' | translate }}</li>
          <li *ngFor="let food of allFoods" class="list-group-item food-li"
            ><div (click)="openFoodModal(foodModal, food, false)">{{ food.name }}</div>
            <i
              (click)="openDeleteFoodModal(deleteFoodModal, food, 'all')"
              class="far fa-trash-alt float-right"
              title="{{ 'REMOVE_FOODS_TEXT' | translate }}"
            ></i
          ></li>
        </ul>
        <ul *ngIf="!loading && results.length > 0" class="list-group">
          <li *ngFor="let food of results" class="list-group-item food-li"
            ><div (click)="openFoodModal(foodModal, food, false)">{{ food.name }}</div>
            <i
              (click)="openDeleteFoodModal(deleteFoodModal, food, 'results')"
              class="far fa-trash-alt float-right"
              title="{{ 'REMOVE_FOODS_TEXT' | translate }}"
            ></i
          ></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 stacked-cols">
        <ul class="list-group">
          <li class="list-group-item disabled">{{ 'FOODS_TO_BE_SENT_TO_BE_APPROVED' | translate }}</li>
          <li *ngIf="editedAndDeletedFoods.length === 0" class="list-group-item">{{ 'NO_DELETED_OR_EDITED_FOODS' | translate }}</li>
          <li *ngFor="let editedFood of editedAndDeletedFoods" class="list-group-item"> {{ editedFood.editedFood.name }}</li>
        </ul>
        <button *ngIf="editedAndDeletedFoods.length > 0" class="btn btn-block btn-success" (click)="sentFoodsForApproval('notDuplicate')">{{
          'SEND' | translate
        }}</button>
        <button *ngIf="editedAndDeletedFoods.length > 0" (click)="editedAndDeletedFoods = []" class="btn btn-block btn-warning">{{
          'CANCEL' | translate
        }}</button>
      </div>
    </div>
  </div>
  <hr /> <h2 class="h2 text-center mt-4">{{ 'DUPLICATE_NAMES' | translate }}</h2>
  <div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <app-loading-spinner *ngIf="findingDuplicates"></app-loading-spinner>
        <ul *ngIf="!findingDuplicates" class="list-group">
          <li class="list-group-item disabled">{{ 'FOUND_DUPLICATE_FOODS' | translate }}</li>
          <li *ngFor="let duplicateFood of duplicateFoods" class="list-group-item food-li"
            ><div (click)="openFoodModal(foodModal, duplicateFood, true)">{{ duplicateFood.name }}</div>
            <i
              (click)="openDeleteFoodModal(deleteFoodModal, duplicateFood, 'duplicate')"
              class="far fa-trash-alt float-right"
              title="{{ 'REMOVE_FOODS_TEXT' | translate }}"
            ></i
          ></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 stacked-cols">
        <ul class="list-group">
          <li class="list-group-item disabled">{{ 'FOODS_TO_BE_SENT_TO_BE_APPROVED' | translate }}</li>
          <li *ngIf="editedAndDeletedDuplicateFoods.length === 0" class="list-group-item">{{
            'NO_DELETED_OR_EDITED_FOODS' | translate
          }}</li>
          <li *ngFor="let editedDuplicateFood of editedAndDeletedDuplicateFoods" class="list-group-item">
            {{ editedDuplicateFood.editedFood.name }}</li
          >
        </ul>
        <button
          *ngIf="editedAndDeletedDuplicateFoods.length > 0"
          class="btn btn-block btn-success"
          (click)="sentFoodsForApproval('duplicate')"
          >{{ 'SEND' | translate }}</button
        >
        <button
          *ngIf="editedAndDeletedDuplicateFoods.length > 0"
          (click)="editedAndDeletedDuplicateFoods = []"
          class="btn btn-block btn-warning"
          >{{ 'CANCEL' | translate }}</button
        >
      </div>
    </div>
  </div>
  <hr /> <h2 class="h2 text-center mt-4">{{ 'TRANSLATE_FOOD' | translate }}</h2>
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 all-foods-list">
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        <ul *ngIf="!loading" class="list-group">
          <li class="list-group-item disabled">{{ 'ALL_FOODS_THAT_HAVE_NO_TRANSLATION' | translate }}</li>
          <ng-container *ngFor="let food of allFoods">
            <li *ngIf="!food.en" (click)="openTranslateFoodModal(addTranslationToFoodModal, food)" class="list-group-item food-li">
              {{ food.name }}</li
            >
          </ng-container>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 stacked-cols">
        <ul class="list-group">
          <li class="list-group-item disabled">{{ 'TRANSLATED_FOODS_TO_BE_SENT_TO_BE_APPROVED' | translate }}</li>
          <li *ngIf="translatedFoods.length === 0" class="list-group-item">{{ 'NO_TRANSLATED_FOODS' | translate }}</li>
          <li *ngFor="let translatedFood of translatedFoods" class="list-group-item">
            {{ translatedFood.editedFood.name }} | {{ translatedFood.editedFood.en }}</li
          >
        </ul>
        <button *ngIf="translatedFoods.length > 0" class="btn btn-block btn-success" (click)="sentFoodsForApproval('translated')">{{
          'SEND' | translate
        }}</button>
        <button *ngIf="translatedFoods.length > 0" (click)="translatedFoods = []" class="btn btn-block btn-warning">{{
          'CANCEL' | translate
        }}</button>
      </div>
    </div>
  </div>
</div>

<ng-template #foodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'EDIT_FOOD' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #editFoodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodName">{{ 'NAME' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="text"
              name="foodName"
              class="form-control"
              placeholder="{{ 'FOOD_NAME' | translate }}"
              minlength="2"
              [(ngModel)]="selectedFood.name"
              #foodName="ngModel"
              [ngClass]="{ 'is-invalid': foodName.errors && foodName.touched }"
              required
            />
            <div [hidden]="!foodName.errors?.required" class="invalid-feedback"> {{ 'FOOD_NAME_REQUIRED' | translate }} </div>
            <div [hidden]="!foodName.errors?.minlength" class="invalid-feedback"> {{ 'FOOD_NAME_NOT_LONG_ENOUGH' | translate }} </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodEnergy">{{ 'ENERGY' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodEnergy"
              class="form-control"
              placeholder="{{ 'KCAL' | translate }} / 100 g"
              [(ngModel)]="selectedFood.energia"
              #foodEnergy="ngModel"
              [ngClass]="{ 'is-invalid': foodEnergy.errors && foodEnergy.touched }"
              required
            />
            <div [hidden]="!foodEnergy.errors?.required" class="invalid-feedback"> {{ 'ENERGY_REQUIRED' | translate }} </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFat">{{ 'FAT' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodFat"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.rasva"
              #foodFat="ngModel"
              [ngClass]="{ 'is-invalid': foodFat.errors && foodFat.touched }"
              required
            />
            <div [hidden]="!foodFat.errors?.required" class="invalid-feedback"> {{ 'FAT_REQUIRED' | translate }} </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodCarbs">{{ 'CARBS' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodCarbs"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.hh"
              #foodCarbs="ngModel"
              [ngClass]="{ 'is-invalid': foodCarbs.errors && foodCarbs.touched }"
              required
            />
            <div [hidden]="!foodCarbs.errors?.required" class="invalid-feedback"> {{ 'CARBS_REQUIRED' | translate }} </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodProtein">{{ 'PROTEIN' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodProtein"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.proteiini"
              #foodProtein="ngModel"
              [ngClass]="{ 'is-invalid': foodProtein.errors && foodProtein.touched }"
              required
            />
            <div [hidden]="!foodProtein.errors?.required" class="invalid-feedback"> {{ 'PROTEIN_REQUIRED' | translate }} </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFiber">{{ 'FIBER' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodFiber"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.kuitu"
              #foodFiber="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodSugar">{{ 'SUGAR' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodSugar"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.sokeri"
              #foodSugar="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodServingSize">{{ 'PORTION_SIZE' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodServingSize"
              class="form-control"
              placeholder="{{ 'GRAMS' | translate }}"
              [(ngModel)]="selectedFood.servingSize"
              #servingSize="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodPackageSize">{{ 'PACKAGE_SIZE' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodPackageSize"
              class="form-control"
              placeholder="{{ 'GRAMS' | translate }}"
              [(ngModel)]="selectedFood.packageSize"
              #packageSize="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="reason">{{ 'REASON_FOR_EDITING' | translate }}</label>
          <div class="col-sm-8">
            <textarea
              name="reasonForEdit"
              class="form-control"
              placeholder="{{ 'REASON_FOR_EDITING' | translate }}"
              [(ngModel)]="selectedFood.reason"
              #reason="ngModel"
              required
            ></textarea>
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!editFoodForm.form.valid">
                {{ 'SAVE_CHANGES' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #deleteFoodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'DELETE_FOOD' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #deleteFoodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="reason">{{ 'REASON_FOR_DELETE' | translate }}</label>
          <div class="col-sm-8">
            <textarea
              name="reasonForDelete"
              class="form-control"
              placeholder="{{ 'REASON_FOR_DELETE' | translate }}"
              [(ngModel)]="selectedFood.reason"
              #reason="ngModel"
              required
            ></textarea>
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!deleteFoodForm.form.valid">
                {{ 'SAVE_CHANGES' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #addTranslationToFoodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'TRANSLATE_FOOD' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #translateFoodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodInEnglish">{{ 'IN_ENGLISH' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="text"
              name="foodInEnglish"
              class="form-control"
              placeholder="{{ 'IN_ENGLISH' | translate }}"
              [(ngModel)]="selectedFood.en"
              #foodEnglish="ngModel"
            />
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!translateFoodForm.form.valid">
                {{ 'SAVE_CHANGES' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
