.food-li:hover {
  background: #fcfcfc;
  cursor: pointer;
}

.all-foods-list {
  max-height: 400px;
  overflow-y: scroll;
}

.fa-trash-alt:hover {
  color: #ff3b3f;
  cursor: pointer;
}

.col-11:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .stacked-cols {
    margin-top: 3rem;
  }
}
