<div class="card">
  <div class="card-body">
    <h5 class="card-title text-muted">
      Nimi: {{ meal.name }}
      <i class="fas fa-plus plus float-right" (click)="openAddMealModal(addMealModal, meal)" title="Lisää ateria ateriasuunnitelmaan."></i>
    </h5>
    <p *ngIf="meal.info" class="card-text text-muted">{{ meal.info }}</p>
    <p *ngIf="meal.recipe" (click)="toggleShowRecipe()" class="card-text text-muted recipe" title="Näytä valmistusohjeet">
      Valmistusohjeet
    </p>
    <p *ngIf="showRecipe" class="card-text text-muted">{{ meal.recipe }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-light lead">
      <div class="row">
        <div class="col-3">Makrot:</div> <div class="col-3">P: {{ proteinTotal.toFixed(0) }}g</div>
        <div class="col-3">HH: {{ carbTotal.toFixed(0) }}g</div> <div class="col-3">R: {{ fatTotal.toFixed(0) }}g</div>
      </div>
    </li>
    <li class="list-group-item bg-light lead">
      <div class="row"> <div class="col-6"></div> <div class="col-3">Määrä</div> <div class="col-3">Energia</div> </div>
      <div class="row">
        <div class="col-6">Ruoat</div> <div class="col-3">{{ amountTotal.toFixed(0) }}g</div>
        <div class="col-3">{{ kcalTotal.toFixed(0) }} kcal</div>
      </div>
    </li>
    <li *ngFor="let food of meal.foods" class="list-group-item">
      <div class="row">
        <div class="col-6">{{ food.name }}</div> <div class="col-3">{{ food.amount.toFixed(0) }}g</div>
        <div class="col-3">{{ food.energia.toFixed(0) }} kcal</div>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <p class="text-muted"> Tekijä: {{ meal.username }} @ {{ meal.updatedAt | date: 'dd.MM.yyyy' }} </p>
    <p class="text-muted">
      <ng-container *ngFor="let tag of meal.tags">#{{ tag }} </ng-container>
    </p>
    <div class="d-flex" *ngIf="votesFetched">
      <i *ngIf="!userVote || userVote === 'down'" class="far fa-thumbs-up" (click)="vote('+')"></i>
      <i *ngIf="userVote && userVote === 'up'" class="fas fa-thumbs-up" style="color:#ff3b3f" (click)="vote('-')"></i>
      <i *ngIf="!userVote || userVote === 'up'" class="ml-3 far fa-thumbs-down" (click)="vote('-')"></i>
      <i *ngIf="userVote && userVote === 'down'" class="ml-3 fas fa-thumbs-down" (click)="vote('-')" style="color:#ff3b3f"></i>
      <span class="ml-3 text-muted">{{ pointsTotal }} pistettä</span>
    </div>
  </div>
</div>
<hr />

<ng-template #addMealModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Valitse ateria</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="form-group mt-2">
        <select class="form-control" [(ngModel)]="addToMeal">
          <option *ngFor="let meal of user.meals" [ngValue]="meal.name">{{ meal.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div
          class="
              col text-center"
        >
          <button type="button" class="btn btn-light" (click)="modal.close('cancel')"> Peruuta </button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-primary" (click)="modal.close('save')" [disabled]="!addToMeal"> Lisää </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
