<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h2 class="h2">{{ 'QUESTIONS_ASKED' | translate }}</h2>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="questions.length > 0 || questionsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let question of questions; let i = index">
          <div class="row">
            <div class="col-10 day-list-name" (click)="navigate(question)"> {{ question.questionBody }} </div>
            <div class="col-2">
              <i class="far fa-minus-square float-right" (click)="deleteQuestion(i)" title="{{ 'DELETE_QUESTION' | translate }}"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="questions.length === 0 && !questionsDeleted">
    <div class="col-6 text-center">
      <h2 class="h2 text-muted">{{ 'NO_QUESTIONS' | translate }}</h2>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="questionsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block" (click)="deleteQuestionsFromDb()">{{
        'SAVE_CHANGES' | translate
      }}</button>
      <p class="lead">{{ 'CHANGES_SAVED_WHEN_TEXT' | translate }}</p>
    </div>
  </div>
</div>
