<app-targets></app-targets>
<div class="row mb-1" *ngIf="openedSavedMeal && previousFoodsInLocalStorage">
  <div class="col">
    <button
      class="btn btn-block btn-outline-primary mb-1"
      (click)="reloadPreviousFoods()"
      title="{{ 'RELOAD_PREVIOUS_FOODS' | translate }}"
    >
      {{ 'RELOAD_PREVIOUS_FOODS' | translate }}
    </button>
  </div>
  <div class="col">
    <button (click)="deletePreviousFoods()" class="btn btn-block btn-outline-danger mb-1" title="{{ 'FORGET_PREVIOUS_FOODS' | translate }}">
      {{ 'FORGET_PREVIOUS_FOODS' | translate }}
    </button>
  </div>
</div>
<app-totals [user]="user"></app-totals>
<div class="row mb-1" *ngIf="openedSavedMeal && mealsEdited">
  <div class="col">
    <button class="btn btn-block btn-outline-success mb-1" (click)="saveEditedDay()" title="{{ 'SAVE_EDITED_DAY' | translate }}">
      {{ 'SAVE_CHANGES' | translate }}
    </button>
  </div>
  <div class="col">
    <button (click)="openSaveDayModal(dayName)" class="btn btn-block btn-outline-primary mb-1" title="{{ 'SAVE_EDITED_DAY' | translate }}">
      {{ 'SAVE_AS_A_NEW_DAY' | translate }}
    </button>
  </div>
</div>
<div id="meals">
  <app-meal-table
    *ngFor="let meal of addedMeals; let i = index"
    [meal]="meal"
    [foods]="foods"
    [componentIndex]="i"
    [user]="user"
  ></app-meal-table>
</div>

<ng-template #dayName let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'SAVE_DAY' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #saveDayForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="nameOfDay">{{ 'NAME' | translate }}</label>
          <input
            type="text"
            name="nameOfDay"
            class="form-control"
            #nameOfDay="ngModel"
            [(ngModel)]="day.name"
            [ngClass]="{ 'is-invalid': nameOfDay.errors && nameOfDay.touched }"
            minlength="3"
            required
          />
          <div [hidden]="!nameOfDay.errors?.required" class="invalid-feedback">{{ 'NAME_REQUIRED' | translate }}</div>
          <div [hidden]="!nameOfDay.errors?.minlength" class="invalid-feedback">{{ 'NAME_NOT_LONG_ENOUGH' | translate }}</div>
        </div>
        <label for="date">{{ 'DAY_DATE' | translate }}</label>
        <div class="mt-2 mb-2 text-center">
          <ngb-datepicker name="date" #d [(ngModel)]="date"></ngb-datepicker>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!saveDayForm.form.valid">
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
