<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h1 class="display-4">Tykkäykseni</h1>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="votes.length > 0 || votesDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let vote of votes; let i = index;">
          <div class="row">
            <div class="col-10 day-list-name">
              <p [innerHTML]="vote.content"></p>
            </div>
            <div class="col-2">
              <i *ngIf="vote.vote > 0" class="fas fa-thumbs-up mr-3" style="color:#ff3b3f;"></i>
              <i *ngIf="vote.vote < 0" class="fas fa-thumbs-down mr-3" style="color:#ff3b3f;"></i>
              <i class="far fa-minus-square" (click)="deleteVote(i)" title="Poista tykkäys"></i>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="votes.length === 0 && !votesDeleted">
    <div class="col-6 text-center">
      <h2 class="h2 text-muted">Ei tykkäyksiä.</h2>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="votesDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block" (click)="deleteVotesFromDb()">Tallenna
        muutokset</button>
      <p class="lead">Tykkäykset poistetaan vasta, kun tallenna muutokset nappia on painettu.</p>
    </div>
  </div>
</div>