<div class="row justify-content-center mt-2">
  <a routerLink="/admin"> <i class="far fa-user"></i> {{ 'USERS' | translate }}</a>
  <a routerLink="/admin/feedbacks" class="ml-4"> <i class="fab fa-readme"></i> {{ 'FEEDBACKS' | translate }}</a>
  <a routerLink="/admin/days" class="ml-4"> <i class="far fa-calendar-alt"></i> {{ 'DAYS' | translate }}</a>
  <a routerLink="/admin/meals" class="ml-4"> <i class="fas fa-utensils"></i> {{ 'MEALS' | translate }}</a>
  <a routerLink="/admin/foods" class="ml-4"> <i class="fas fa-apple-alt"></i> {{ 'FOODS' | translate }}</a>
  <a routerLink="/admin/likes" class="ml-4"> <i class="far fa-thumbs-up"></i> {{ 'LIKES' | translate }}</a>
</div>
<router-outlet></router-outlet>
