.fas,
.far {
  color: #ff3b3f;
}

span:hover {
  cursor: pointer;
}

.mobile {
  display: none;
}

.toolbar-menu {
  width: 100%;
}

.toolbar-menu p {
  margin-bottom: 5px;
  padding-left: 5px;
}

.day-name:hover {
  cursor: pointer;
  background: #ff3b3f;
  color: #fff;
}

.extra-wide {
  display: none;
}

.list-group {
  width: 100%;
}

@media screen and (max-width: 910px) {
  .mobile-hidden {
    display: none;
  }

  .mobile {
    display: inline;
  }

  .dropdowns {
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 1200px) {
  .dropdowns {
    display: none;
  }

  .extra-wide {
    display: inline-block;
  }
}
