.fas,
.far {
  color: #ff3b3f;
}

span:hover {
  cursor: pointer;
}

.mobile {
  display: none;
}

.toolbar-menu {
  width: 100%;
}

.toolbar-menu p {
  margin-bottom: 5px;
  padding-left: 5px;
}

.day-name:hover {
  cursor: pointer;
  background: #ff3b3f;
  color: #fff;
}

.extra-wide {
  display: none;
}

.list-group {
  width: 100%;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index: 8;
  left: 0;
  font-size: 20px;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.99);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  transform: translate3d(-600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #eece1a;
}

.menu.show {
  visibility: visible;
}

.menu-btn {
  position: absolute;
  z-index: 9;
  left: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: translateX(-10px);
}

@media screen and (max-width: 910px) {
  .mobile-hidden {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .dropdowns {
    display: none;
  }

  .extra-wide {
    display: inline-block;
  }
}
