<div class="row mobile-hidden mt-3">
  <span *ngIf="!online">{{ 'NO_CONNECTION' | translate }}</span>
  <span *ngIf="online" (click)="openAddFoodModal(addFood)"><i class="fas fa-plus-circle"></i> {{ 'ADD_FOOD' | translate }}</span>
  <span *ngIf="online" (click)="openSaveDayModal(dayName)" class="ml-4"><i class="fas fa-save"></i> {{ 'SAVE_DAY' | translate }}</span>
  <span *ngIf="online" (click)="generateLink(sharedDayModal)" class="ml-4"><i class="fas fa-share"></i> {{ 'SHARE_DAY' | translate }}</span>
  <span *ngIf="shareLink.length > 0 && online" (click)="openLinkModal(sharedDayModal)" class="ml-4"
    ><i class="fas fa-share"></i> {{ 'SHOW_LINK' | translate }}</span
  >
  <span (click)="createPdf()" class="ml-4"><i class="far fa-file-pdf"></i> {{ 'CREATE_PDF' | translate }}</span>
  <span *ngIf="searchVisible" (click)="hideSearchBar()" class="ml-4"><i class="fas fa-search"></i> {{ 'HIDE_SEARCH' | translate }}</span>
  <span *ngIf="!searchVisible" (click)="hideSearchBar()" class="ml-4"><i class="fas fa-search"></i> {{ 'SHOW_SEARCH' | translate }}</span>
  <div class="extra-wide">
    <div *ngIf="online && savedDays.length > 0" class="d-inline-block ml-4" ngbDropdown #dayMenu="ngbDropdown">
      <span id="daymenuDropdown" ngbDropdownAnchor (click)="dayMenu.open()"
        ><i class="far fa-calendar-alt"></i> {{ 'OPEN_DAY' | translate }}</span
      >
      <div class="toolbar-menu" ngbDropdownMenu aria-labelledby="daymenuDropdown">
        <p class="day-name" ngbDropdownItem *ngFor="let day of savedDays" (click)="openSavedDay(day.uuid)">{{ day.name }}</p>
      </div>
    </div>
    <div *ngIf="online && savedMeals.length > 0" class="d-inline-block ml-4" ngbDropdown #mealMenu="ngbDropdown">
      <span id="mealmenuDropdown" ngbDropdownAnchor (click)="mealMenu.open()"
        ><i class="fas fa-utensils"></i> {{ 'OPEN_MEAL' | translate }}</span
      >
      <div class="toolbar-menu" ngbDropdownMenu aria-labelledby="mealmenuDropdown">
        <p class="day-name" ngbDropdownItem *ngFor="let meal of savedMeals" (click)="openAddMealModal(addMealModal, meal)">
          {{ meal.name }}
        </p>
      </div>
    </div>
  </div>
  <div class="ml-auto">
    <span *ngIf="showTargets" (click)="openTargetModal(targetModal)" class="mr-2"
      ><i class="far fa-edit"></i> {{ 'EDIT_TARGETS' | translate }}</span
    >
    <span *ngIf="!showTargets" (click)="toggleTargets()"><i class="fas fa-bars"></i> {{ 'SHOW_TARGETS' | translate }}</span>
    <span *ngIf="showTargets" (click)="toggleTargets()"><i class="fas fa-minus"></i> {{ 'HIDE_TARGETS' | translate }}</span>
  </div>
</div>
<div class="row mobile">
  <div class="d-inline-block" ngbDropdown #toolbarMenu="ngbDropdown">
    <p class="lead mt-1" id="toolbarmenuDropdown" ngbDropdownAnchor (click)="toolbarMenu.open()">{{ 'TOOLS' | translate }}</p>
    <div class="toolbar-menu" ngbDropdownMenu aria-labelledby="toolbarmenuDropdown">
      <p ngbDropdownItem *ngIf="!online">{{ 'NO_CONNECTION' | translate }}</p>
      <p ngbDropdownItem *ngIf="online" (click)="openAddFoodModal(addFood)">
        <i class="fas fa-plus-circle"></i> {{ 'ADD_FOOD' | translate }}
      </p>
      <p ngbDropdownItem *ngIf="online" (click)="openSaveDayModal(dayName)"><i class="fas fa-save"></i> {{ 'SAVE_DAY' | translate }}</p>
      <p ngbDropdownItem *ngIf="online" (click)="generateLink(sharedDayModal)">
        <i class="fas fa-share"></i> {{ 'SHARE_DAY' | translate }}
      </p>
      <p ngbDropdownItem *ngIf="shareLink.length > 0 && online" (click)="openLinkModal(sharedDayModal)">
        <i class="fas fa-share"></i> {{ 'SHOW_LINK' | translate }}
      </p>
      <p ngbDropdownItem (click)="createPdf()"><i class="far fa-file-pdf"></i> {{ 'CREATE_PDF' | translate }}</p>
      <p ngbDropdownItem *ngIf="searchVisible" (click)="hideSearchBar()"><i class="fas fa-search"></i> {{ 'HIDE_SEARCH' | translate }}</p>
      <p ngbDropdownItem *ngIf="!searchVisible" (click)="hideSearchBar()"><i class="fas fa-search"></i> {{ 'SHOW_SEARCH' | translate }}</p>
    </div>
  </div>
  <div class="d-inline-block" [ngClass]="{ 'float-right': !showTargets, 'mt-2': !showTargets }">
    <span *ngIf="showTargets" (click)="openTargetModal(targetModal)" class="mr-2"
      ><i class="far fa-edit"></i> {{ 'EDIT_TARGETS' | translate }}</span
    >
    <span *ngIf="!showTargets" (click)="toggleTargets()"><i class="fas fa-bars"></i> {{ 'SHOW_TARGETS' | translate }}</span>
    <span *ngIf="showTargets" (click)="toggleTargets()"><i class="fas fa-minus"></i> {{ 'HIDE_TARGETS' | translate }}</span>
  </div>
</div>
<div class="row mt-3 dropdowns">
  <div *ngIf="online && savedDays.length > 0" class="d-inline-block" ngbDropdown #dayMenu="ngbDropdown">
    <span id="daymenuDropdown" ngbDropdownAnchor (click)="dayMenu.open()"
      ><i class="far fa-calendar-alt"></i> {{ 'OPEN_DAY' | translate }}</span
    >
    <div class="toolbar-menu" ngbDropdownMenu aria-labelledby="daymenuDropdown">
      <p class="day-name" ngbDropdownItem *ngFor="let day of savedDays" (click)="openSavedDay(day.uuid)">{{ day.name }}</p>
    </div>
  </div>
  <div *ngIf="online && savedMeals.length > 0" class="d-inline-block ml-4" ngbDropdown #mealMenu="ngbDropdown">
    <span id="mealmenuDropdown" ngbDropdownAnchor (click)="mealMenu.open()"
      ><i class="fas fa-utensils"></i> {{ 'OPEN_MEAL' | translate }}</span
    >
    <div class="toolbar-menu" ngbDropdownMenu aria-labelledby="mealmenuDropdown">
      <p class="day-name" ngbDropdownItem *ngFor="let meal of savedMeals" (click)="openAddMealModal(addMealModal, meal)">{{ meal.name }}</p>
    </div>
  </div>
</div>

<ng-template #addFood let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ADD_FOOD' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #addFoodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodName">{{ 'NAME' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="text"
              name="foodName"
              class="form-control"
              placeholder="{{ 'FOOD_NAME' | translate }}"
              minlength="2"
              [(ngModel)]="food.name"
              #foodName="ngModel"
              [ngClass]="{ 'is-invalid': foodName.errors && foodName.touched }"
              required
            />
            <div [hidden]="!foodName.errors?.required" class="invalid-feedback">{{ 'FOOD_NAME_REQUIRED' | translate }}</div>
            <div [hidden]="!foodName.errors?.minlength" class="invalid-feedback">{{ 'FOOD_NAME_NOT_LONG_ENOUGH' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <p class="lead">{{ 'AMOUNT_PER_100_GRAMS' | translate }}</p>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodEnergy">{{ 'ENERGY' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodEnergy"
              class="form-control"
              placeholder="{{ 'CALORIES_PER_100_GRAMS' | translate }}"
              [(ngModel)]="food.energy"
              #foodEnergy="ngModel"
              [ngClass]="{
                'is-invalid': foodEnergy.errors && foodEnergy.touched
              }"
              required
            />
            <div [hidden]="!foodEnergy.errors?.required" class="invalid-feedback">{{ 'ENERGY_REQUIRED' | translate }}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFat">{{ 'FAT' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodFat"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="food.fat"
              #foodFat="ngModel"
              [ngClass]="{ 'is-invalid': foodFat.errors && foodFat.touched }"
              required
            />
            <div [hidden]="!foodFat.errors?.required" class="invalid-feedback">{{ 'FAT_REQUIRED' | translate }}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodCarbs">{{ 'CARBS' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodCarbs"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="food.carbs"
              #foodCarbs="ngModel"
              [ngClass]="{
                'is-invalid': foodCarbs.errors && foodCarbs.touched
              }"
              required
            />
            <div [hidden]="!foodCarbs.errors?.required" class="invalid-feedback">{{ 'CARBS_REQUIRED' | translate }}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodProtein">{{ 'PROTEIN' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodProtein"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="food.protein"
              #foodProtein="ngModel"
              [ngClass]="{
                'is-invalid': foodProtein.errors && foodProtein.touched
              }"
              required
            />
            <div [hidden]="!foodProtein.errors?.required" class="invalid-feedback">{{ 'PROTEIN_REQUIRED' | translate }}</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFiber">{{ 'FIBER' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodFiber"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="food.fiber"
              #foodFiber="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodSugar">{{ 'SUGAR' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodSugar"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="food.sugar"
              #foodSugar="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodServingSize">{{ 'SERVING_SIZE' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodServingSize"
              class="form-control"
              placeholder="{{ 'GRAMS' | translate }}"
              [(ngModel)]="food.servingSize"
              #servingSize="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodPackageSize">{{ 'PACKAGE_SIZE' | translate }}</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodPackageSize"
              class="form-control"
              placeholder="{{ 'GRAMS' | translate }}"
              [(ngModel)]="food.packageSize"
              #packageSize="ngModel"
            />
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!addFoodForm.form.valid">
                {{ 'SAVE_FOOD' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #dayName let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'SAVE_DAY' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #saveDayForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="nameOfDay">{{ 'NAME' | translate }}</label>
          <input
            type="text"
            name="nameOfDay"
            class="form-control"
            #nameOfDay="ngModel"
            [(ngModel)]="day.name"
            [ngClass]="{ 'is-invalid': nameOfDay.errors && nameOfDay.touched }"
            minlength="3"
            required
          />
          <div [hidden]="!nameOfDay.errors?.required" class="invalid-feedback">{{ 'NAME_REQUIRED' | translate }}</div>
          <div [hidden]="!nameOfDay.errors?.minlength" class="invalid-feedback">{{ 'NAME_NOT_LONG_ENOUGH' | translate }}</div>
        </div>
        <label for="date">{{ 'DAY_DATE' | translate }}</label>
        <div class="mt-2 mb-2 text-center">
          <ngb-datepicker name="date" #d [(ngModel)]="date"></ngb-datepicker>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!saveDayForm.form.valid">
                {{ 'SAVE' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #targetModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'EDIT_TARGETS' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #targetForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="expenditure">{{ 'EXPENDITURE' | translate }}</label>
          <input type="number" name="expenditure" class="form-control" [(ngModel)]="user.userAddedExpenditure" />
        </div>
        <div class="form-group">
          <label for="proteinTarget">{{ 'PROTEIN' | translate }}</label>
          <input type="number" name="proteinTarget" class="form-control" [(ngModel)]="user.userAddedProteinTarget" />
        </div>
        <div class="form-group">
          <label for="carbTarget">{{ 'CARBS' | translate }}</label>
          <input type="number" name="carbTarget" class="form-control" [(ngModel)]="user.userAddedCarbTarget" />
        </div>
        <div class="form-group">
          <label for="fatTarget">{{ 'FAT' | translate }}</label>
          <input type="number" name="fatTarget" class="form-control" [(ngModel)]="user.userAddedFatTarget" />
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block" (click)="modal.close('reset')">
                {{ 'RESET_DEFAULTS' | translate }}
              </button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block">{{ 'SAVE' | translate }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #sharedDayModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'LINK' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <pre>{{ shareLink }}</pre>
    </div>
    <div class="container text-center mt-3">
      <div class="row">
        <div class="col"><button type="button" class="btn btn-primary btn-block" (click)="modal.close('ok')">OK</button></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addMealModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'CHOOSE_MEAL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="selectedMeal && selectedMeal.foods.length > 0">
      <div class="row">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light lead">
            <div class="row">
              <div class="col-3">{{ 'MACROS' | translate }}:</div>
              <div class="col-3">{{ 'PROTEIN_ABBREVIATION_BOTH' | translate }}: {{ proteinTotal.toFixed(0) }}g</div>
              <div class="col-3">{{ 'CARBS_ABBREVIATION_BOTH' | translate }}: {{ carbTotal.toFixed(0) }}g</div>
              <div class="col-3">{{ 'FAT_ABBREVIATION_BOTH' | translate }}: {{ fatTotal.toFixed(0) }}g</div>
            </div>
          </li>
          <li class="list-group-item bg-light lead">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-3">{{ 'AMOUNT' | translate }}</div>
              <div class="col-3">{{ 'ENERGY' | translate }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ 'FOODS' | translate }}</div>
              <div class="col-3">{{ amountTotal.toFixed(0) }}g</div>
              <div class="col-3">{{ kcalTotal.toFixed(0) }} {{ 'KCAL' | translate }}</div>
            </div>
          </li>
          <li *ngFor="let food of selectedMeal.foods" class="list-group-item">
            <div class="row">
              <div class="col-6">{{ food.name }}</div>
              <div class="col-3">{{ food.amount.toFixed(0) }}g</div>
              <div class="col-3">{{ food.energy.toFixed(0) }} {{ 'KCAL' | translate }}</div>
            </div>
          </li>
        </ul>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <span class="mb-1" *ngIf="selectedMeal.portions">{{ 'AMOUNT_OF_PORTIONS' | translate }}: {{ selectedMeal.portions }}</span>
        </div>
        <div class="col">
          <span class="mb-1 float-right" *ngIf="selectedMeal.portionSize"
            >{{ 'PORTION_SIZE' | translate }}: {{ selectedMeal.portionSize }}g</span
          >
        </div>
      </div>
      <div class="form-group row mt-2" *ngIf="selectedMeal.portions">
        <div class="col">
          <label for="amount">{{ 'AMOUNT' | translate }} ({{ 'PORTIONS' | translate }})</label>
        </div>
        <div class="col">
          <input class="form-control" type="number" [(ngModel)]="amountToAddPortions" />
        </div>
      </div>
      <div class="form-group row mt-2">
        <div class="col">
          <label for="amount">{{ 'AMOUNT' | translate }} ({{ 'GRAMS' | translate }})</label>
        </div>
        <div class="col">
          <input class="form-control" type="number" [(ngModel)]="amountToAddGrams" />
        </div>
      </div>
      <div class="form-group mt-2">
        <select class="form-control" [(ngModel)]="addToMeal">
          <option *ngFor="let meal of user.meals" [ngValue]="meal.name">{{ meal.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-light" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-primary" (click)="modal.close('save')" [disabled]="!addToMeal">
            {{ 'ADD' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
