<div class="row">
  <span (click)="openAddFoodModal(addFood)"><i class="fas fa-plus-circle"></i> Lisää ruoka</span>
  <span (click)="openSaveDayModal(dayName)" class="ml-4"><i class="fas fa-save"></i> Tallenna päivä</span>
  <div class="ml-auto">
    <span *ngIf="showTargets" (click)="openTargetModal(targetModal)" class="mr-2"><i class="far fa-edit"></i> Muokkaa
      tavoitearvoja</span>
    <span *ngIf="!showTargets" (click)="toggleTargets()"><i class="fas fa-bars"></i> Näytä tavoitearvot</span>
    <span *ngIf="showTargets" (click)="toggleTargets()"><i class="fas fa-minus"></i> Piilota
      tavoitearvot</span>
  </div>
</div>



<ng-template #addFood let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Lisää uusi ruoka</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #addFoodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodName">Nimi</label>
          <div class="col-sm-8">
            <input type="text" name="foodName" class="form-control" placeholder="Ruoan nimi" minlength="2" [(ngModel)]="food.name"
              #foodName="ngModel" [ngClass]="{'is-invalid':foodName.errors && foodName.touched}" required>
            <div [hidden]="!foodName.errors?.required" class="invalid-feedback">
              Ruoan nimi vaaditaan
            </div>
            <div [hidden]="!foodName.errors?.minlength" class="invalid-feedback">
              Ruoan nimen täytyy olla vähintään kaksi merkkiä pitkä
            </div>
          </div>

        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodEnergy">Energia</label>
          <div class="col-sm-8">
            <input type="number" name="foodEnergy" class="form-control" placeholder="Kcal / 100 g" [(ngModel)]="food.energia"
              #foodEnergy="ngModel" [ngClass]="{'is-invalid':foodEnergy.errors && foodEnergy.touched}" required>
            <div [hidden]="!foodEnergy.errors?.required" class="invalid-feedback">
              Kalorimäärä on vaadittu tieto
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFat">Rasva</label>
          <div class="col-sm-8">
            <input type="number" name="foodFat" class="form-control" placeholder="g / 100 g" [(ngModel)]="food.rasva"
              #foodFat="ngModel" [ngClass]="{'is-invalid':foodFat.errors && foodFat.touched}" required>
            <div [hidden]="!foodFat.errors?.required" class="invalid-feedback">
              Rasvan määrä on vaadittu tieto
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodCarbs">Hiilihydraatit</label>
          <div class="col-sm-8">
            <input type="number" name="foodCarbs" class="form-control" placeholder="g / 100 g" [(ngModel)]="food.hh"
              #foodCarbs="ngModel" [ngClass]="{'is-invalid':foodCarbs.errors && foodCarbs.touched}" required>
            <div [hidden]="!foodCarbs.errors?.required" class="invalid-feedback">
              Hiilihydraattien määrä on vaadittu tieto
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodProtein">Proteiinit</label>
          <div class="col-sm-8">
            <input type="number" name="foodProtein" class="form-control" placeholder="g / 100 g" [(ngModel)]="food.proteiini"
              #foodProtein="ngModel" [ngClass]="{'is-invalid':foodProtein.errors && foodProtein.touched}" required>
            <div [hidden]="!foodProtein.errors?.required" class="invalid-feedback">
              Proteiinin määrä on vaadittu tieto
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFiber">Ravintokuidut</label>
          <div class="col-sm-8">
            <input type="number" name="foodFiber" class="form-control" placeholder="g / 100 g" [(ngModel)]="food.kuitu"
              #foodFiber="ngModel">
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodSugar">Sokerit</label>
          <div class="col-sm-8">
            <input type="number" name="foodSugar" class="form-control" placeholder="g / 100 g" [(ngModel)]="food.sokeri"
              #foodSugar="ngModel">
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodServingSize">Annoskoko</label>
          <div class="col-sm-8">
            <input type="number" name="foodServingSize" class="form-control" placeholder="grammaa" [(ngModel)]="food.servingSize"
              #servingSize="ngModel">
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodPackageSize">Pakkauskoko</label>
          <div class="col-sm-8">
            <input type="number" name="foodPackageSize" class="form-control" placeholder="grammaa" [(ngModel)]="food.packageSize"
              #packageSize="ngModel">
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">Peruuta</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!addFoodForm.form.valid">
                Tallenna ruoka
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #dayName let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Tallenna päivä</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #saveDayForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="nameOfDay">Nimi</label>
          <input type="text" name="nameOfDay" class="form-control" #nameOfDay="ngModel" [(ngModel)]="day.name"
            [ngClass]="{'is-invalid':nameOfDay.errors && nameOfDay.touched}" minlength="3" required>
          <div [hidden]="!nameOfDay.errors?.required" class="invalid-feedback">
            Nimi on vaadittu tieto
          </div>
          <div [hidden]="!nameOfDay.errors?.minlength" class="invalid-feedback">
            Nimen pitää olla vähintään kolme merkkiä pitkä
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">Peruuta</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!saveDayForm.form.valid">
                Tallenna
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #targetModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Muokkaa tavoitearvoja</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #targetForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="expenditure">Kulutus</label>
          <input type="number" name="expenditure" class="form-control" [(ngModel)]="user.userAddedExpenditure">
        </div>
        <div class="form-group">
          <label for="proteinTarget">Proteiinit</label>
          <input type="number" name="proteinTarget" class="form-control" [(ngModel)]="user.userAddedProteinTarget">
        </div>
        <div class="form-group">
          <label for="carbTarget">Hiilihydraatit</label>
          <input type="number" name="carbTarget" class="form-control" [(ngModel)]="user.userAddedCarbTarget">
        </div>
        <div class="form-group">
          <label for="fatTarget">Rasvat</label>
          <input type="number" name="fatTarget" class="form-control" [(ngModel)]="user.userAddedFatTarget">
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">Peruuta</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-block" (click)="modal.close('reset')">Palauta
                oletusarvot</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-success btn-block">
                Tallenna
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>