<div class="container-fluid text-center">
  <nav class="mobile-nav">
    <div class="d-inline-block" ngbDropdown #menu="ngbDropdown">
      <p class="lead mt-1" id="mainmenuDropdown" ngbDropdownAnchor (click)="menu.open()">
        <span class="mobile">Makro</span>
      </p>
      <div class="mainmenu" ngbDropdownMenu aria-labelledby="mainmenuDropdown">
        <p ngbDropdownItem routerLink="/"><i class="fas fa-home"></i> {{ 'HOME' | translate }}</p>
        <p ngbDropdownItem *ngIf="isLoggedIn" routerLink="/profile"><i class="far fa-user-circle"></i> {{ 'PROFILE' | translate }}</p>
        <p ngbDropdownItem *ngIf="isLoggedIn" routerLink="/compare">
          <i class="fas fa-not-equal"></i> {{ 'COMPARE_MEALPLANS' | translate }}
        </p>
        <p ngbDropdownItem *ngIf="isLoggedIn" routerLink="/sharedmeals"><i class="fas fa-utensils"></i> {{ 'MEALS' | translate }}</p>
        <p ngbDropdownItem *ngIf="isLoggedIn" routerLink="/feedback"><i class="fab fa-readme"></i> {{ 'FEEDBACK_NAV' | translate }}</p>
        <p ngbDropdownItem routerLink="/about"><i class="fas fa-info"></i> {{ 'ABOUT' | translate }}</p>
        <p ngbDropdownItem *ngIf="!isLoggedIn" routerLink="/login"><i class="fas fa-info"></i> {{ 'LOGIN' | translate }}</p>
        <p ngbDropdownItem *ngIf="!isLoggedIn" routerLink="/register"><i class="fas fa-info"></i> {{ 'REGISTER' | translate }}</p>
        <p ngbDropdownItem *ngIf="isAdmin" routerLink="/admin"><i class="fas fa-cogs"></i> {{ 'ADMIN' | translate }}</p>
        <p ngbDropdownItem *ngIf="isLoggedIn" (click)="logout()"><i class="fas fa-sign-out-alt"></i> {{ 'LOGOUT' | translate }}</p>
        <a *ngIf="isLoggedIn && lang === 'fi'" class="nav-link text-center" (click)="changeLanguage()"
          ><img src="../../assets/img/en.svg" alt="english"
        /></a>
        <a *ngIf="isLoggedIn && lang === 'en'" class="nav-link text-center" (click)="changeLanguage()"
          ><img src="../../assets/img/fi.svg" alt="finnish"
        /></a>
      </div>
    </div>
  </nav>
</div>

<div id="menu-button"><i class="fas fa-bars"></i></div>
<nav class="desktop-nav">
  <div onclick="void(0)" class="home-text">
    <a routerLink="/" class="makro-title">Makro</a>
    <a *ngIf="isLoggedIn && lang === 'fi'" class="nav-link" (click)="changeLanguage()"
      ><img src="../../assets/img/en.svg" alt="english"
    /></a>
    <a *ngIf="isLoggedIn && lang === 'en'" class="nav-link" (click)="changeLanguage()"
      ><img src="../../assets/img/fi.svg" alt="finnish"
    /></a>
  </div>
  <ul class="menu">
    <li routerLink="/"><i class="fas fa-home"></i> {{ 'HOME' | translate }}</li>
    <li *ngIf="isLoggedIn" routerLink="/profile"><i class="far fa-user-circle"></i> {{ 'PROFILE' | translate }}</li>
    <li *ngIf="isLoggedIn" routerLink="/compare"><i class="fas fa-not-equal"></i> {{ 'COMPARE_MEALPLANS' | translate }}</li>
    <li *ngIf="isLoggedIn" routerLink="/sharedmeals"><i class="fas fa-utensils"></i> {{ 'MEALS' | translate }}</li>
    <li *ngIf="isLoggedIn" routerLink="/feedback"><i class="fab fa-readme"></i> {{ 'FEEDBACK_NAV' | translate }}</li>
    <li routerLink="/about"><i class="fas fa-info"></i> {{ 'ABOUT' | translate }}</li>
    <li *ngIf="isAdmin" routerLink="/admin"><i class="fas fa-cogs"></i> {{ 'ADMIN' | translate }}</li>
    <li *ngIf="isLoggedIn" (click)="logout()"><i class="fas fa-sign-out-alt"></i> {{ 'LOGOUT' | translate }}</li>
    <li *ngIf="!isLoggedIn" routerLink="/login"><i class="fas fa-sign-in-alt"></i> {{ 'LOGIN' | translate }}</li>
    <li *ngIf="!isLoggedIn" routerLink="/register"><i class="fas fa-user-plus"></i>{{ 'REGISTER' | translate }}</li>
  </ul>
</nav>
