.fas,
.fab,
.far {
  color: #ff3b3f !important;
}
a {
  color: #333 !important;
}

a:hover {
  cursor: pointer;
}

p {
  margin-bottom: 0.5rem;
}

p:hover {
  cursor: pointer;
}

img {
  width: 1.5em;
}

.mobile {
  display: none;
}

.mainmenu {
  width: 100%;
}

.mainmenu p {
  margin-bottom: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 570px) {
  .mobile-hidden {
    display: none;
  }

  .mobile {
    display: inline;
  }
  .fa-sign-in-alt,
  .fa-sign-out-alt,
  .fa-user-plus {
    font-size: 1.3rem;
  }
}
