nav {
  border-bottom: 2px solid rgba(194, 194, 194, 0.3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}

.fas,
.fab,
.far {
  color: #ff3b3f !important;
}
a {
  color: #333 !important;
}

li:hover {
  cursor: pointer;
}

img {
  width: 1.7em;
}
