ul {
  list-style: none;
  padding: 0;
}

.list:hover {
  padding: 20px 15px;
  font-size: 25px;
}

.big-list {
  word-break: break-all;
  font-size: 25px;
}

.big-list:hover {
  font-size: 35px;
}

.small-list {
  word-break: break-all;
  font-size: 22px;
}

.small-list:hover {
  font-size: 30px;
}

.small-column {
  max-height: 400px;
  overflow-y: scroll;
}

.day-list-name:hover {
  cursor: pointer;
}

.list-group-item:hover {
  background: #f9f9f9;
}

.fa-info:hover {
  cursor: pointer;
}

.fa-minus-square:hover {
  cursor: pointer;
  color: #ff3b3f;
}

.info-box {
  border: solid #ffc107 2px;
  padding: 5px;
}

.fa-trash-alt {
  color: #ff3b3f;
}

::-webkit-scrollbar {
  display: none;
}
