<div class="container mt-2">
  <div class="row justify-content-between">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-3">
      <button class="btn btn-sm btn-outline-warning btn-block" (click)="openModal(userInfo)"><i class="far fa-edit"></i>
        Muokkaa tietoja</button>
      <h1 class="display-4">Omat tiedot</h1>
      <ul>

        <li class="list lead"><i class="far fa-user"></i> Käyttäjätunnus: {{ user.username }}</li>
        <li *ngIf="user.email" class="list lead"><i class="fas fa-at"></i> Email: {{ user.email }}</li>
        <li class="list lead">
          <i class="fas fa-fire"></i>
          Kulutus: {{ user.userAddedExpenditure ? (user.userAddedExpenditure).toFixed(0) :
          (user.dailyExpenditure).toFixed(0) }} kcal/päivä
          <i class="fas fa-info float-right" (click)="toggleInfo()"></i>
        </li>
        <li class="list lead"><i class="fas fa-weight"></i> Paino: {{ user.weight }} kg</li>
        <li class="list lead"><i class="fas fa-arrows-alt-v"></i> Pituus: {{ user.height }} cm</li>
        <li class="list lead"><i class="fas fa-heartbeat"></i> Ikä: {{ user.age }} vuotta</li>
        <li class="list lead"><i class="fas fa-child"></i> Sukupuoli: {{ user.sex }}</li>
        <li class="list lead">
          <span class="day-list-name" (click)="toggleDelete()">
            <i class="fas fa-trash-alt"></i>
            Poista tili
          </span>
        </li>
        <li *ngIf="showInfo" class="lead mt-3 info-box">
          <p>Kaava, mitä käytetään kulutuksen laskemiseen on <a href="https://en.wikipedia.org/wiki/Harris–Benedict_equation"
              target="_blank">Harris-Benedictin yhtälö</a>:</p>
          <p>Miehet: 88,4 + (13,4 x kehon massa kiloina) + (4,8 x pituus sentteinä) – (5,7 x ikä
            vuosissa).</p>
          <p>Naiset: 447,6 + (9,25 x kehon massa kiloina) + (3,1 x pituus sentteinä) – (4,3 x ikä
            vuosissa)</p>
        </li>
      </ul>
      <button *ngIf="showDeleteAccount" class="btn btn-danger btn-block" (click)="deleteAccount()">
        <i class="fas fa-user-minus mr-1"></i>
        Poista käyttäjätili</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 mt-3">
      <button class="btn btn-sm btn-outline-warning btn-block" (click)="openModal(mealName)"><i class="far fa-edit"></i>
        Muokkaa nimiä</button>
      <h1 class="display-4">Aterioiden nimet</h1>
      <ul>
        <li *ngFor="let meal of user.meals; let i = index" class="list lead">
          {{ meal.name }}
          <i class="far fa-minus-square float-right" (click)="deleteMeal(i)"></i>
        </li>
      </ul>
      <div class="row mt-1">
        <div class="col">
          <button type="button" class="btn btn-outline-success btn-block" (click)="addNewMeal()">Lisää ateria</button>
        </div>
        <div class="col" *ngIf="changed">
          <button type="button" class="btn btn-outline-success btn-block" (click)="updateInfo()">Tallenna muutokset</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="display-4">Tallennetut päivät</h1>
      <ul>
        <li class="day-list lead" *ngFor="let day of savedDays; let i = index;">
          <span class="day-list-name" (click)="loadDay(i)">{{ day }}</span>
          <i class="far fa-minus-square float-right" (click)="deleteDay(i)"></i>
        </li>
      </ul>
      <div class="col" *ngIf="daysDeleted">
        <button type="button" class="btn btn-outline-success btn-block" (click)="saveDays()">Tallenna muutokset</button>
      </div>
    </div>
  </div>
</div>

<ng-template #userInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Muokkaa käyttäjätietoja</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #editUserInformationForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="userEmail">Sähköpostiosoite</label>
          <div class="col-sm-8">
            <input type="email" name="userEmail" class="form-control" placeholder="matti.meikalainen@email.fi"
              [(ngModel)]="user.email">
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="userHeight">Pituus</label>
          <div class="col-sm-8">
            <input type="number" name="userHeight" class="form-control" placeholder="cm" [(ngModel)]="user.height">
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="userWeight">Paino</label>
          <div class="col-sm-8">
            <input type="number" name="userWeight" class="form-control" placeholder="kg" [(ngModel)]="user.weight">
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="userAge">Ikä</label>
          <div class="col-sm-8">
            <input type="number" name="userAge" class="form-control" placeholder="vuotta" [(ngModel)]="user.age">
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="userSex">Sukupuoli</label>
          <div class="col-sm-8">
            <select name="userSex" class="form-control" [(ngModel)]="user.sex">
              <option value="null"></option>
              <option value="mies">Mies</option>
              <option value="nainen">Nainen</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="userActivity">Liikunta</label>
          <div class="col-sm-8">
            <select name="userActivity" class="form-control" [(ngModel)]="user.activity">
              <option value="1.2">0-0,5 kertaa viikossa</option>
              <option value="1.375">1-3 kertaa viikossa</option>
              <option value="1.55">3-5 kertaa viikossa</option>
              <option value="1.75">6-7 kertaa viikossa</option>
              <option value="1.9">Raskas treeni kahdesti päivässä</option>
            </select>
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">Peruuta</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block">
                Tallenna
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #mealName let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Muokkaa aterioita</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #editMealsForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group" *ngFor="let meal of user.meals">
          <input type="text" name="{{meal.name}}" class="form-control" [(ngModel)]="meal.name" [value]="meal.name"
            required [ngModelOptions]="{standalone: true}">
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">Peruuta</button>
            </div>
            <div class="col">
              <span class="btn btn-primary btn-block" (click)="addNewMeal()">
                Lisää ateria
              </span>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-success btn-block">
                Tallenna
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>