<table *ngIf="meal?.foods.length > 0" class="table table-sm table-responsive-xs">
  <thead>
    <tr class="text-center">
      <th class="t-head bg-light lead" scope="row">
        <div class="name">
          {{ meal.name }}
        </div>
      </th>
      <th scope="col" title="{{ 'PROTEIN' | translate }}" class="table-success align-middle d-none d-sm-table-cell">
        {{ proteinTotal ? proteinTotal.toFixed(0) : 0 }} g
      </th>
      <th scope="col" title="{{ 'CARBS' | translate }}" class="table-primary align-middle d-none d-sm-table-cell">
        {{ carbTotal ? carbTotal.toFixed(0) : 0 }} g
      </th>
      <th scope="col" title="{{ 'FAT' | translate }}" class="table-danger align-middle d-none d-sm-table-cell">
        {{ fatTotal ? fatTotal.toFixed(0) : 0 }} g
      </th>
      <th scope="col" title="{{ 'KCAL' | translate }}" class="table-warning align-middle">
        {{ energyTotal ? energyTotal.toFixed(0) : 0 }} {{ 'KCAL' | translate }}
      </th>
      <th scope="col" title="{{ 'AMOUNT' | translate }}" class="align-middle">{{ amountTotal ? amountTotal.toFixed(0) : 0 }} g</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of meal.foods; let i = index" class="text-center">
      <th class="t-head" scope="row">
        <div class="name">{{ food.name }}</div>
      </th>
      <td class="table-success align-middle d-none d-sm-table-cell">{{ food.protein ? food.protein.toFixed(1) : 0 }} g</td>
      <td class="table-primary align-middle d-none d-sm-table-cell">{{ food.carbs ? food.carbs.toFixed(1) : 0 }} g</td>
      <td class="table-danger align-middle d-none d-sm-table-cell">{{ food.fat ? food.fat.toFixed(1) : 0 }} g</td>
      <td class="table-warning align-middle">{{ food.energy.toFixed(1) }} {{ 'KCAL' | translate }}</td>
      <td class="align-middle" (click)="food.editing = true" *ngIf="!food.editing && foodsEditable">
        <span class="food-amount" (click)="food.editing = true" title="{{ 'EDIT_FOOD_AMOUNT_TEXT' | translate }}" id="edit"
          >{{ food.amount.toFixed(0) }} g</span
        >
        <i class="fas fa-times ml-3" (click)="removeFood(i)" title="{{ 'REMOVE_FOOD_TEXT' | translate }}"></i>
      </td>
      <td class="align-middle" *ngIf="!food.editing && !foodsEditable">{{ food.amount.toFixed(0) }} g</td>
      <td class="align-middle" *ngIf="food.editing">
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="newFoodAmount"
            (keyup.enter)="updateAmount(food, i)"
            (blur)="updateAmount(food, i)"
            #amountInput
          />
          {{ amountInput.focus() }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
