table {
  table-layout: fixed !important;
}

th {
  word-break: break-all;
  overflow-y: scroll;
  max-height: 50px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: none !important;
}

td {
  word-break: break-all;
  overflow-y: scroll;
  max-height: 50px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: none !important;
}

.t-head {
  width: 300px;
}

.name {
  overflow-y: scroll;
  max-height: 30px;
  word-break: break-all;
}

::-webkit-scrollbar {
  display: none;
}

.bg-lb {
  background: #edf4ff;
}

.drag:hover {
  cursor: pointer;
  background: #edf4ff;
}

.food-amount:hover {
  cursor: pointer;
}

.fa-times:hover {
  cursor: pointer;
  color: #ff3b3f;
}
.fa-share,
.fa-copy {
  font-size: 15px;
}

.fa-share:hover,
.fa-copy:hover {
  cursor: pointer;
  color: #ff3b3f;
  font-size: 17px;
}

.tag:hover {
  cursor: pointer;
  color: #ff3b3f;
}

.save-for-me {
  white-space: normal;
}

@media screen and (max-width: 720px) {
  .t-head {
    width: 150px;
  }
}

@media screen and (max-width: 575px) {
  .t-head {
    width: 250px;
  }
}

@media screen and (max-width: 475px) {
  .t-head {
    width: 150px;
  }
}

@media screen and (max-width: 360px) {
  .t-head {
    width: 100px;
  }
}
