<table *ngIf="meal?.foods.length > 0" class="table table-sm table-responsive-xs" (drop)="drop($event)" (dragover)="allowDrop($event)">
  <thead>
    <tr class="text-center">
      <th class="t-head bg-lb lead" scope="row">
        <div class="name">
          <i
            *ngIf="user && user.username"
            (click)="openShareMealModal(shareMealModal)"
            class="fas fa-share float-left mt-2"
            title="Jaa ateria muiden käytettäväksi"
          ></i>
          Ateria
        </div>
      </th>
      <th scope="col" class="table-success d-none d-sm-table-cell">P</th>
      <th scope="col" class="table-primary d-none d-sm-table-cell">HH</th>
      <th scope="col" class="table-danger d-none d-sm-table-cell">R</th> <th scope="col" class="table-warning">Kcal</th>
      <th scope="col" title="Määrä"> <i class="fas fa-weight"></i> </th>
    </tr>
    <tr class="text-center">
      <th class="t-head bg-light lead" scope="row">
        <div class="name">
          <i
            class="far fa-copy float-left mt-2"
            title="Kopioi ruoka tästä ateriasta toiseen ateriaan"
            (click)="openCopyFoodModal(copyFoodModal)"
          ></i>
          {{ meal.name }}</div
        >
      </th>
      <th scope="col" class="table-success align-middle d-none d-sm-table-cell">{{ proteinTotal ? proteinTotal.toFixed(0) : 0 }} g</th>
      <th scope="col" class="table-primary align-middle d-none d-sm-table-cell">{{ carbTotal ? carbTotal.toFixed(0) : 0 }} g</th>
      <th scope="col" class="table-danger align-middle d-none d-sm-table-cell">{{ fatTotal ? fatTotal.toFixed(0) : 0 }} g </th>
      <th scope="col" class="table-warning align-middle">{{ energyTotal ? energyTotal.toFixed(0) : 0 }}</th>
      <th scope="col" class="align-middle">{{ amountTotal ? amountTotal.toFixed(0) : 0 }} g</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of meal.foods; let i = index" class="text-center">
      <th
        class="t-head drag"
        scope="row"
        draggable="true"
        (dragstart)="drag($event, food)"
        title="Siirrä toiseen ateriaan raahaamalla"
        [attr.id]="i"
        (dragover)="setTarget(i)"
      >
        <div class="name">{{ food.name }}</div>
      </th>
      <td class="table-success align-middle d-none d-sm-table-cell">{{ food.proteiini ? food.proteiini.toFixed(1) : 0 }} g</td>
      <td class="table-primary align-middle d-none d-sm-table-cell">{{ food.hh ? food.hh.toFixed(1) : 0 }} g</td>
      <td class="table-danger align-middle d-none d-sm-table-cell">{{ food.rasva ? food.rasva.toFixed(1) : 0 }} g</td>
      <td class="table-warning align-middle">{{ food.energia.toFixed(1) }} kcal</td>
      <td class="align-middle" (click)="food.editing = true" *ngIf="!food.editing">
        <span class="food-amount" (click)="food.editing = true" title="Muokkaa ruoan määrää">{{ food.amount.toFixed(0) }} g</span>
        <i class="fas fa-eraser ml-3" (click)="removeFood(i)" title="Poista ruoka ateriasta"></i>
      </td>
      <td class="align-middle" *ngIf="food.editing">
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="newFoodAmount"
            (keyup.enter)="updateAmount(food, i)"
            (blur)="updateAmount(food, i)"
            #amountInput
          />
          {{ amountInput.focus() }}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #shareMealModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Jaa ateria muille</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #shareMealForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="nameOfMeal">Nimi</label>
          <input
            type="text"
            name="nameOfMeal"
            class="form-control"
            #nameOfMeal="ngModel"
            [(ngModel)]="sharedMeal.name"
            [ngClass]="{ 'is-invalid': nameOfMeal.errors && nameOfMeal.touched }"
            minlength="3"
            required
          />
          <div [hidden]="!nameOfMeal.errors?.required" class="invalid-feedback"> Nimi on vaadittu tieto </div>
          <div [hidden]="!nameOfMeal.errors?.minlength" class="invalid-feedback"> Nimen pitää olla vähintään kolme merkkiä pitkä </div>
        </div>
        <div class="form-group">
          <label for="description">Lisätietoja</label>
          <textarea type="textarea" name="description" class="form-control" [(ngModel)]="sharedMeal.info" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="sharedMealRecipe">Valmistusohjeet</label>
          <textarea type="textarea" name="sharedMealRecipe" class="form-control" [(ngModel)]="sharedMeal.recipe" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="hashtags">Tagit (erota pilkulla)</label>
          <p class="text-muted" *ngIf="sharedMeal.tags.length > 0">
            <ng-container *ngFor="let tag of sharedMeal.tags; let i = index">
              <span class="tag" (click)="removeTagFromSharedMealTags(i)">#{{ tag }} </span>
            </ng-container>
          </p>
          <input
            type="text"
            name="hashtags"
            class="form-control"
            #hashtags="ngModel"
            [(ngModel)]="sharedMealTag"
            [ngClass]="{ 'is-invalid': hashtags.errors && hashtags.touched }"
            minlength="3"
            (keyup)="addTagToSharedMealTags($event.key)"
          />
          <div [hidden]="!hashtags.errors?.minlength" class="invalid-feedback"> Tagin pitää olla vähintään kolme merkkiä pitkä </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">Peruuta</button>
            </div>
            <div class="col">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="!shareMealForm.form.valid || sharedMeal.tags.length === 0"
              >
                Jaa
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #copyFoodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Kopioi ruoka toiseen ateriaan</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="form-group mt-2">
      <label for="selectFood">Valitse kopioitava ruoka</label>
      <select class="form-control" [(ngModel)]="foodToBeCopied">
        <option *ngFor="let food of meal.foods" [ngValue]="food">{{ food.name }}</option>
      </select>
    </div>
    <div class="form-group mt-2">
      <label for="targetMeal">Mihin ateriaan ruoka kopioidaan</label>
      <select class="form-control" [(ngModel)]="targetMeal">
        <option *ngFor="let meal of meals" [ngValue]="meal">{{ meal.name }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col text-center"> <button type="button" class="btn btn-warning" (click)="modal.close('cancel')">Peruuta</button> </div>
        <div class="col text-center"> <button type="button" class="btn btn-primary" (click)="modal.close('save')">Kopioi</button> </div>
      </div>
    </div>
  </div>
</ng-template>
