<table *ngIf="meal?.foods.length > 0" class="table table-sm table-responsive-xs">
  <thead>
    <tr>
      <th class="t-head bg-lb lead" scope="row">
        <div class="name">Ateria</div>
      </th>
      <th scope="col" class="table-success">P</th>
      <th scope="col" class="table-primary">HH</th>
      <th scope="col" class="table-danger">R</th>
      <th scope="col" class="table-warning">Kcal</th>
      <th scope="col">Määrä</th>
    </tr>
    <tr>
      <th class="t-head bg-light lead" scope="row">
        <div class="name">{{ meal.name }}</div>
      </th>
      <th scope="col" class="table-success">{{ proteinTotal ? proteinTotal.toFixed(0) : 0 }} g</th>
      <th scope="col" class="table-primary">{{ carbTotal ? carbTotal.toFixed(0) : 0 }} g</th>
      <th scope="col" class="table-danger">{{ fatTotal ? fatTotal.toFixed(0) : 0 }} g</th>
      <th scope="col" class="table-warning">{{ energyTotal ? energyTotal.toFixed(0) : 0 }}</th>
      <th scope="col">{{ amountTotal ? amountTotal.toFixed(0) : 0 }} g</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of meal.foods">
      <th class="t-head" scope="row">
        <div class="name">{{ food.name }}</div>
      </th>
      <td class="table-success">{{ food.proteiini ? food.proteiini.toFixed(1) : 0 }} g</td>
      <td class="table-primary">{{ food.hh ? food.hh.toFixed(1) : 0 }} g</td>
      <td class="table-danger">{{ food.rasva ? food.rasva.toFixed(1) : 0 }} g</td>
      <td class="table-warning">{{ food.energia.toFixed(1) }} kcal</td>
      <td>{{ food.amount.toFixed(0) }} g</td>
    </tr>
  </tbody>
</table>