<table *ngIf="meal?.foods.length > 0" class="table table-responsive-sm">
  <thead>
    <tr>
      <th class="t-head bg-lb lead" scope="row">Ateria</th>
      <th scope="col" class="table-success">P</th>
      <th scope="col" class="table-primary">HH</th>
      <th scope="col" class="table-danger">R</th>
      <th scope="col" class="table-warning">Energia</th>
      <th scope="col">Määrä</th>
    </tr>
    <tr>
      <th class="t-head bg-light lead" scope="row">{{ meal.name }}</th>
      <th scope="col" class="table-success">30 g</th>
      <th scope="col" class="table-primary">500 g</th>
      <th scope="col" class="table-danger">600 g</th>
      <th scope="col" class="table-warning">9999 kcal</th>
      <th scope="col">4500 g</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of meal.foods">
      <th class="t-head" scope="row">
        <div class="name">{{ food.name }}</div>
      </th>
      <td class="table-success">{{ food.proteiini ? food.proteiini.toFixed(1) : 0 }} g</td>
      <td class="table-primary">{{ food.hh ? food.hh.toFixed(1) : 0 }} g</td>
      <td class="table-danger">{{ food.rasva ? food.rasva.toFixed(1) : 0 }} g</td>
      <td class="table-warning">{{ food.energia.toFixed(1) }} kcal</td>
      <td>{{ food.amount.toFixed(0) }} g</td>
    </tr>
  </tbody>
</table>