<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <h2 class="h2text-center">{{ 'QA_TITLE' | translate }}</h2>
      <button class="btn btn-block btn-outline-success mt-3" (click)="openModal(questionModal)" title="{{ 'ADD_QUESTION' | translate }}">
        <i class="fas fa-plus"></i> {{ 'ADD_QUESTION' | translate }}
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div *ngIf="questions && questions.length === 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
      <h2 class="h2text-center">{{ 'NO_QUESTIONS' | translate }}</h2>
    </div>
    <div *ngIf="questions && questions.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
      <app-question-card *ngFor="let q of questions" [user]="user" [question]="q"></app-question-card>
    </div>
  </div>
</div>

<ng-template #questionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ADD_QUESTION' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #questionForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="question">{{ 'YOUR_QUESTION' | translate }}</label>
          <input
            type="text"
            name="question"
            class="form-control"
            #q="ngModel"
            [(ngModel)]="question.question"
            [ngClass]="{ 'is-invalid': q.errors && q.touched }"
            minlength="10"
            required
          />
          <div [hidden]="!q.errors?.required" class="invalid-feedback"> {{ 'REQUIRED_FIELD' | translate }} </div>
          <div [hidden]="!q.errors?.minlength" class="invalid-feedback"> {{ 'QUESTION_NOT_LONG_ENOUGH' | translate }} </div>
        </div>
        <div class="form-group">
          <label for="description">{{ 'MORE_INFO_ABOUT_QUESTION' | translate }}</label>
          <app-tinymce [(ngModel)]="question.info" name="description"></app-tinymce>
        </div>
        <div class="form-group">
          <label for="hashtags">{{ 'TAGS_SEPARATED_BY_COMMA' | translate }}</label>
          <p class="text-muted" *ngIf="question.tags.length > 0">
            <ng-container *ngFor="let tag of question.tags; let i = index">
              <span class="tag" (click)="removeTagFromQuestionTags(i)">#{{ tag }} </span>
            </ng-container>
          </p>
          <input
            type="text"
            name="hashtags"
            class="form-control"
            #hashtags="ngModel"
            [(ngModel)]="questionTag"
            [ngClass]="{ 'is-invalid': hashtags.errors && hashtags.touched }"
            minlength="3"
            (keyup)="addTagToQuestionTags($event.key)"
          />
          <div [hidden]="!hashtags.errors?.minlength" class="invalid-feedback"> {{ 'TAG_NOT_LONG_ENOUGH' | translate }} </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')"> {{ 'CANCEL' | translate }} </button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!questionForm.form.valid || question.tags.length === 0">
                {{ 'ADD' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
