<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <h1 class="display-4 text-muted text-center">Makro lyhyesti</h1>
      <h6 class="h6 text-muted text-center">
        Ongelmatilanteissa apua saa <a href="mailto:support@makro.diet">täältä.</a> Saa toki olla yhteydessä muutenkin. :)
      </h6>
      <div class="mt-3">
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>
        <p *ngIf="!loading" class="lead text-muted text-center">
          Rekisteröityneitä käyttäjiä {{ usersCount }}, ruokia yhteensä {{ foodsCount }}
        </p>
      </div>

      <p class="lead">
        Makro on ilmainen jokaiselle käyttäjälle - nyt ja aina. Ylläpitoa ei rahoiteta mainoksilla, vaan kaikki kustannukset (palvelin ~60€
        / vuosi ja sähköposti ~50€ / vuosi) menevät minun omasta pussista. Jos sinulla on PayPal-tili ja haluat auttaa
        ylläpitokustannuksissa, voit tehdä lahjoituksen <a href="https://paypal.me/tukki" target="_blank">täältä.</a> Jokainen lahjoitettu
        euro menee suoraan Makron ylläpitokustannuksiin. Lahjoittaminen ei ole kuitenkaan millään tavalla pakollista - Makro tulee pysymään
        linjoilla (ilman mainoksia) joka tapauksessa. :)
      </p>
      <p class="lead">
        Alunperin kehitin Makron puhtaasti omiin käyttötarkoituksiini, koska en löytänyt sopivaa (ilmaista) työkalua ateriasuunnitteluun.
        Ensimmäinen versio valmistui loppukesästä 2017 ja laitoin Makron nettiin, jotta kaikki halukkaat voisivat sitä käyttää. Syksyllä
        2018 päätin, että teen Makrosta uuden version, joka korjaisi olemassa olevat bugit ja lisäisin samalla kaipaamiani ominaisuuksia.
      </p>
      <p class="lead">
        Kehitän Makroa vapaa-ajallani ja lisäilen uusia ominaisuuksia sitä mukaa, kun niitä tulee mieleeni ja löydän aikaa ideoiden
        toteuttamiseen. Jos kaipaat jotain ominaisuutta, voit jättää palautetta tai laittaa sähköpostia ylempänä olevasta linkistä.
      </p>
      <p class="lead">-Arto</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
      <div class="card">
        <div class="card-header lead">Vinkkejä käyttöön</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Ruokia järjestellä aterian sisällä raahamalla hiirellä haluttuun kohtaan. </li>
          <li class="list-group-item"> Ruoan voi siirtää toiseen ateriaan raahaamalla sen hiirellä uuden aterian päälle. </li>
          <li class="list-group-item"> Itse lisäämäsi ruoat näkyvät hakutuloksissa oranssilla värillä. </li>
          <li class="list-group-item">
            Mikäli profiilisivulta avataan tallennettu päivä ja sitä muokataan, tulee yhteenlaskettujen arvojen alle näkyviin nappula, jota
            painamalla tallennetaan päivään tehdyt muutokset.
          </li>
          <li class="list-group-item">
            Asetetut tavoitearvot saa korvattua oletusarvoilla joko muuttamalla kaikki nollaksi tai painamalla palauta oletusarvot -nappia.
          </li>
          <li class="list-group-item"> Kaikkia tavoitearvoja ei ole pakko asettaa, vaan muutoksia voi tehdä vaikka vain yhteen arvoon. </li>
          <li class="list-group-item">
            Aterian voi tallentaa muille käyttäjille käytettäväksi painamalla nuoli-ikonia, jolloin aterialle pääsee asettamaan nimen sekä
            mahdollisia lisätietoja.
          </li>
          <li class="list-group-item"> Jakamasi ateriakokonaisuudet voit poistaa Profiili-sivun kautta. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8"><hr /></div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class="card">
        <div class="card-header lead">Muutokset (2.0.8)</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Rekisteröityneet käyttäjät voivat julkaista artikkelin. </li>
          <li class="list-group-item">Bugikorjauksia.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2 mb-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button class="btn btn-block btn-outline-primary" (click)="toggleShowOlderUpdates()">
        {{ showOlderUpdates ? 'Piilota vanhemmat päivitykset' : 'Näytä vanhemmat päivitykset' }}
      </button>
    </div>
  </div>
  <ng-container *ngIf="showOlderUpdates">
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Muutokset (2.0.7)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Suunnittelemastaan päivästä voi luoda PDF-tiedoston. </li>
            <li class="list-group-item"> Näytä / piilota tavoitearvot valinta tallennetaan. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Muutokset (2.0.6)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Korjattu bugi, joka esti kopioudun ruoan määrän muuttamisen. </li>
            <li class="list-group-item"> Ruokien uudelleenjärjestelyn pitäisi toimia nyt paremmin. </li>
            <li class="list-group-item"> Lisätty mahdollisuus muotoilla tekstiä palautetta jättäessä. </li>
            <li class="list-group-item">Pieniä parannuksia suorituskykyyn.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Uudet ominaisuudet (2.0.5)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Lisätty mahdollisuus tykätä muiden käyttäjien lisäämistä aterioista. </li>
            <li class="list-group-item"> Ateriaa jakaessa on mahdollisuus nyt lisätä myös valmistusohjeet. </li>
            <li class="list-group-item"> Pieniä muutoksia profiilisivun ulkonäköön. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Uudet ominaisuudet (2.0.4)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Lisätty mahdollisuus kopioida ruoka ateriasta toiseen. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Muutokset (2.0.3)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Profiilisivu uudistettu.</li>
            <li class="list-group-item"> Kysymykset, vastaukset, kommentit ja annetut äänet näkyvät nyt profiilisivulla. </li>
            <li class="list-group-item"> Tavoitearvot näkyvät nyt myös prosentteina. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Uudet ominaisuudet (2.0.2)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Haun toimintaa parannettu.</li>
            <li class="list-group-item"> Jaetuille aterioille voi asettaa nyt tageja. Vähintään yksi on laitettava. </li>
            <li class="list-group-item"> Haku jaettuihin aterioihin. Voi hakea nimen, kuvaksen, tagin tai tekijän nimellä. </li>
            <li class="list-group-item">Q&A lisätty.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Uudet ominaisuudet (2.0.1)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Valmiin aterian voi tallentaa muille käyttäjille käytettäväksi. </li>
            <li class="list-group-item"> Kaikki itse jakamat ateriat löytää profiilisivun kautta. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card">
          <div class="card-header lead">Uudet ominaisuudet (2.0)</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Haun toimintaa parannettu.</li>
            <li class="list-group-item"> Ruokien siirtely hiirellä aterian sisällä ja aterioiden välillä. </li>
            <li class="list-group-item"> Kaikki itse lisätyt ruoat näkyvät profiilisivulla. </li>
            <li class="list-group-item"> Itse lisäämiä ruokia voi muokata profiilisivun kautta. </li>
            <li class="list-group-item">
              Ruoalle voi asettaa sekä pakkaus- että annoskoon, jotka tulevat näkyviin omina nappeinaan, kun ruokaa lisätään, jos ne eivät
              ole samat kuin oletusannoskoot.
            </li>
            <li class="list-group-item">
              Itse lisäämiä ruokia sekä tallennettuja päiviä voi poistaa useamman kuin yhden kerralla. Ruokia ja päiviä ei poisteta
              pysyvästi ennen kuin tallenna muutokset -nappia painetaan.
            </li>
            <li class="list-group-item"> Mahdollisuus jakaa suunniteltuja aterioita ja/tai päiviä. </li>
            <li class="list-group-item"> Palautteen voi jättää omalla nimimerkillä niin halutessaan. </li>
            <li class="list-group-item"> Salasanan voi vaihtaa profiilisivun kautta. </li>
            <li class="list-group-item">
              Jos unohdat salasanasi, voi sen nollata kirjautumissivun kautta, mikäli olet tallentanut sähköpostiosoitteen omiin tietoihin.
              Tällöin uusi salasana lähetetään tallennettuun sähköpostiosoitteeseen.
            </li>
            <li class="list-group-item"> Lisätty mahdollisuus poistaa käyttäjätili. </li>
            <li class="list-group-item"> Valmiin aterian voi tallentaa muille käyttäjille käytettäväksi. </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>
