<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <h1 class="display-4 text-muted text-center">Makro lyhyesti</h1>
      <h6 class="h6 text-muted text-center">Ongelmatilanteissa apua saa <a href="mailto:support@makro.diet">täältä.</a>
        Saa
        toki olla yhteydessä muutenkin. :)</h6>
      <p class="lead mt-3">Makro on ilmainen jokaiselle käyttäjälle - nyt ja aina. Ylläpitoa ei rahoiteta
        mainoksilla, vaan kaikki kustannukset menevät minun omasta pussista (~60€ / vuosi). Alunperin kehitin Makron
        puhtaasti omiin käyttötarkoituksiini, koska en löytänyt sopivaa (ilmaista) työkalua ateriasuunnitteluun.
        Ensimmäinen versio
        valmistui loppukesästä 2017 ja laitoin Makron nettiin, jotta kaikki halukkaat voisivat sitä käyttää. Syksyllä
        2018 päätin, että teen Makrosta uuden version, joka korjaisi olemassa olevat bugit ja lisäisin samalla
        kaipaamiani ominaisuuksia. Jos sinulla on PayPal-tili ja haluat auttaa ylläpitokustannuksissa, voit tehdä
        lahjoituksen <a href="https://paypal.me/tukki" target="_blank">täältä.</a></p>
      <p class="lead">-Arto</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3">
      <div class="card">
        <div class="card-header lead">
          Vinkkejä käyttöön
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ruokia järjestellä aterian sisällä raahamalla hiirellä haluttuun kohtaan.</li>
          <li class="list-group-item">Ruoan voi siirtää toiseen ateriaan raahaamalla sen hiirellä uuden aterian päälle.</li>
          <li class="list-group-item">Itse lisäämäsi ruoat näkyvät hakutuloksissa oranssilla värillä.</li>
          <li class="list-group-item">Mikäli profiilisivulta avataan tallennettu päivä ja sitä muokataan, tulee
            yhteenlaskettujen arvojen alle näkyviin nappula, jota painamalla tallennetaan päivään tehdyt muutokset.</li>
          <li class="list-group-item">Asetetut tavoitearvot saa korvattua oletusarvoilla joko muuttamalla kaikki
            nollaksi tai painamalla palauta oletusarvot -nappia.</li>
          <li class="list-group-item">Kaikkia tavoitearvoja ei ole pakko asettaa, vaan muutoksia voi tehdä vaikka vain
            yhteen arvoon.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <hr>
    </div>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class="card">
        <div class="card-header lead">
          Uudet ominaisuudet
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Haun toimintaa parannettu.</li>
          <li class="list-group-item">Ruokien siirtely hiirellä aterian sisällä ja aterioiden välillä.</li>
          <li class="list-group-item">Kaikki itse lisätyt ruoat näkyvät profiilisivulla.</li>
          <li class="list-group-item">Itse lisäämiä ruokia voi muokata profiilisivun kautta.</li>
          <li class="list-group-item">Ruoalle voi asettaa sekä pakkaus- että annoskoon, jotka tulevat näkyviin omina
            nappeinaan, kun ruokaa lisätään, jos ne eivät ole samat kuin oletusannoskoot.</li>
          <li class="list-group-item">Itse lisäämiä ruokia sekä tallennettuja päiviä voi poistaa useamman kuin yhden
            kerralla. Ruokia ja päiviä ei poisteta pysyvästi ennen kuin tallenna muutokset -nappia painetaan.</li>
          <li class="list-group-item">Mahdollisuus jakaa suunniteltuja aterioita ja/tai päiviä.</li>
          <li class="list-group-item">Palautteen voi jättää omalla nimimerkillä niin halutessaan.</li>
          <li class="list-group-item">Salasanan voi vaihtaa profiilisivun kautta.</li>
          <li class="list-group-item">Jos unohdat salasanasi, voi sen nollata kirjautumissivun kautta, mikäli olet
            tallentanut sähköpostiosoitteen omiin tietoihin. Tällöin uusi salasana lähetetään tallennettuun
            sähköpostiosoitteeseen.</li>
          <li class="list-group-item">Lisätty mahdollisuus poistaa käyttäjätili.</li>
        </ul>
      </div>
    </div>
  </div>
</div>