<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-6 text-center"> <h1 class="display-4">Lisäämäni ruoat</h1> </div>
  </div>
  <div class="row justify-content-center" *ngIf="userAddedFoods.length > 0 || foodsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let food of userAddedFoods; let i = index">
          <div class="row">
            <div class="col-10 day-list-name" (click)="openFoodModal(foodModal, food)" title="Muokkaa ruokaa"> {{ food.name }} </div>
            <div class="col-2"> <i class="far fa-minus-square float-right" (click)="deleteFood(i)" title="Poista ruoka"></i> </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="userAddedFoods.length === 0 && !foodsDeleted">
    <div class="col-6 text-center"> <h2 class="h2 text-muted">Ei lisättyjä ruokia.</h2> </div>
  </div>

  <div class="row justify-content-center" *ngIf="foodsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block" (click)="deleteFoodsFromDb()">Tallenna muutokset</button>
      <p class="lead">Ruoka/ruoat poistetaan vasta, kun tallenna muutokset nappia on painettu.</p>
    </div>
  </div>
</div>

<ng-template #foodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Muokkaa ruoan tietoja</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #editFoodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodName">Nimi</label>
          <div class="col-sm-8">
            <input
              type="text"
              name="foodName"
              class="form-control"
              placeholder="Ruoan nimi"
              minlength="2"
              [(ngModel)]="selectedFood.name"
              #foodName="ngModel"
              [ngClass]="{ 'is-invalid': foodName.errors && foodName.touched }"
              required
            />
            <div [hidden]="!foodName.errors?.required" class="invalid-feedback"> Ruoan nimi vaaditaan </div>
            <div [hidden]="!foodName.errors?.minlength" class="invalid-feedback">
              Ruoan nimen täytyy olla vähintään kaksi merkkiä pitkä
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodEnergy">Energia</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodEnergy"
              class="form-control"
              placeholder="Kcal / 100 g"
              [(ngModel)]="selectedFood.energia"
              #foodEnergy="ngModel"
              [ngClass]="{ 'is-invalid': foodEnergy.errors && foodEnergy.touched }"
              required
            />
            <div [hidden]="!foodEnergy.errors?.required" class="invalid-feedback"> Kalorimäärä on vaadittu tieto </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFat">Rasva</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodFat"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.rasva"
              #foodFat="ngModel"
              [ngClass]="{ 'is-invalid': foodFat.errors && foodFat.touched }"
              required
            />
            <div [hidden]="!foodFat.errors?.required" class="invalid-feedback"> Rasvan määrä on vaadittu tieto </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodCarbs">Hiilihydraatit</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodCarbs"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.hh"
              #foodCarbs="ngModel"
              [ngClass]="{ 'is-invalid': foodCarbs.errors && foodCarbs.touched }"
              required
            />
            <div [hidden]="!foodCarbs.errors?.required" class="invalid-feedback"> Hiilihydraattien määrä on vaadittu tieto </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodProtein">Proteiinit</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodProtein"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.proteiini"
              #foodProtein="ngModel"
              [ngClass]="{ 'is-invalid': foodProtein.errors && foodProtein.touched }"
              required
            />
            <div [hidden]="!foodProtein.errors?.required" class="invalid-feedback"> Proteiinin määrä on vaadittu tieto </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodFiber">Ravintokuidut</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodFiber"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.kuitu"
              #foodFiber="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodSugar">Sokerit</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodSugar"
              class="form-control"
              placeholder="g / 100 g"
              [(ngModel)]="selectedFood.sokeri"
              #foodSugar="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodServingSize">Annoskoko</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodServingSize"
              class="form-control"
              placeholder="grammaa"
              [(ngModel)]="selectedFood.servingSize"
              #servingSize="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="foodPackageSize">Pakkauskoko</label>
          <div class="col-sm-8">
            <input
              type="number"
              name="foodPackageSize"
              class="form-control"
              placeholder="grammaa"
              [(ngModel)]="selectedFood.packageSize"
              #packageSize="ngModel"
            />
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">Peruuta</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!editFoodForm.form.valid"> Tallenna muutokset </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
