table {
  table-layout: fixed !important;
}

th {
  word-break: break-all;
  overflow-y: scroll;
  max-height: 30px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: none !important;
}

td {
  word-break: break-all;
  overflow-y: scroll;
  max-height: 30px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: none !important;
}

/* .t-head {
  min-width: 200px;
} */

.name {
  overflow-y: scroll;
  max-height: 30px;
  word-break: break-all;
}

::-webkit-scrollbar {
  display: none;
}
.fa-trash-alt:hover {
  color: #ff3b3f;
  cursor: pointer;
}

.table {
  margin-bottom: 0.4rem !important;
}

.t-head {
  width: 150px;
}

.day-name {
  display: block;
  min-width: 640px;
}

@media screen and (max-width: 720px) {
  .t-head {
    width: 75px;
  }

  .day-name {
    min-width: 400px;
  }
}

@media screen and (max-width: 575px) {
  .t-head {
    width: 125px;
  }

  .day-name {
    min-width: 260px;
  }
}

@media screen and (max-width: 475px) {
  .t-head {
    width: 75px;
  }
}

@media screen and (max-width: 360px) {
  .t-head {
    width: 50px;
  }
}
