.answer-button:hover {
  color: #ff3b3f !important;
  cursor: pointer;
}

.answer-text {
  font-size: 14px;
}

.far:hover {
  color: #ff3b3f;
  cursor: pointer;
}

.comment-button:hover {
  color: #ff3b3f;
  cursor: pointer;
}

.margin-left {
  margin-left: 3rem !important;
}

@media screen and (max-width: 460px) {
  .margin-left {
    margin-left: 3px !important;
  }
}
