<div class="container mt-5">
  <h3>{{ 'REGISTER' | translate }}</h3> <br />
  <form #registerForm="ngForm" (ngSubmit)="submit(registerForm)">
    <div class="form-group">
      <label class="lead" for="username">{{ 'USERNAME' | translate }}</label>
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="{{ 'USERNAME' | translate }}"
        minlength="2"
        [(ngModel)]="user.username"
        #userUsername="ngModel"
        [ngClass]="{ 'is-invalid': userUsername.errors && userUsername.touched }"
        required
      />
      <div [hidden]="!userUsername.errors?.required" class="invalid-feedback"> {{ 'USERNAME_REQUIRED' | translate }} </div>
      <div [hidden]="!userUsername.errors?.minlength" class="invalid-feedback"> {{ 'USERNAME_NOT_LONG_ENOUGH' | translate }} </div>
    </div>
    <div class="form-group">
      <label class="lead" for="email">{{ 'EMAIL' | translate }}</label> <p class="small">{{ 'EMAIL_NOT_REQUIRED' | translate }}</p>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="{{ 'EMAIL' | translate }}"
        [(ngModel)]="user.email"
        #userEmail="ngModel"
      />
    </div>
    <div class="form-group">
      <label class="lead" for="password">{{ 'PASSWORD' | translate }}</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="{{ 'PASSWORD' | translate }}"
        minlength="10"
        [(ngModel)]="user.password"
        #userPassword="ngModel"
        [ngClass]="{ 'is-invalid': userPassword.errors && userPassword.touched }"
        required
      />
      <div [hidden]="!userPassword.errors?.required" class="invalid-feedback"> {{ 'PASSWORD_REQUIRED' | translate }} </div>
      <div [hidden]="!userPassword.errors?.minlength" class="invalid-feedback"> {{ 'PASSWORD_NOT_LONG_ENOUGH' | translate }} </div>
    </div>
    <div class="form-group">
      <label class="lead" for="passwordAgain">{{ 'PASSWORD_AGAIN' | translate }}</label>
      <input
        type="password"
        name="passwordAgain"
        class="form-control"
        placeholder="{{ 'PASSWORD_AGAIN' | translate }}"
        [(ngModel)]="passwordAgain"
        #passAgain="ngModel"
        [ngClass]="{ 'is-invalid': passAgain.errors && passAgain.touched }"
        required
      />
      <div [hidden]="!passAgain.errors?.required" class="invalid-feedback"> {{ 'REQUIRED_FIELD' | translate }} </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">{{ 'REGISTER' | translate }}</button>
  </form>
</div>
