<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="container mt-3">
  <hr />
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h2 class="h2">{{ 'MY_SHARED_DAYS' | translate }}</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-2" *ngIf="sharedDays.length > 0 || daysDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let day of sharedDays; let i = index">
          <div class="row">
            <div class="col-10 day-list-name">
              <a href="https://makro.diet/?id={{ day._id }}">https://makro.diet/?id={{ day.uuid }}</a>
            </div>
            <div class="col-2">
              <i class="far fa-minus-square float-right" (click)="deleteDay(i)"
                title="{{ 'DELETE_DAY' | translate }}"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="sharedDays.length === 0 && !daysDeleted">
    <div class="col-6 text-center">
      <h2 class="h2 text-muted">{{ 'NO_SHARED_DAYS' | translate }}</h2>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="daysDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block"
        (click)="deleteDaysFromDb()">{{ 'SAVE_CHANGES' | translate }}</button>
      <p class="lead">{{ 'CHANGES_SAVED_WHEN_TEXT' | translate }}</p>
    </div>
  </div>
</div>