<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-fire"></i>
      Kulutus: 9999
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-cookie-bite"></i>
      Syöty: 9999
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-cut"></i>
      Jäljellä: 9999
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-dove"></i>
      Proteiini: 9999
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-cookie"></i>
      HH: 9999
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <i class="fas fa-burn"></i>
      Rasva: 9999
    </div>
  </div>
</div>