<div class="container mb-5">
  <div class="row justify-content-center">
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" *ngIf="!loading && statistics">
      <h2 class="h2 text-center">{{ 'STATISTICS' | translate }}</h2>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'STATS_USERS' | translate }} <span>{{ statistics.users }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'STATS_USERS_LAST_WEEK' | translate }} <span>{{ statistics.userLoggedInTheLastSevenDays }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'MAKRO_REGISTERED_USERS_MALE_AMOUNT' | translate }} <span>{{ statistics.maleCount }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'MAKRO_REGISTERED_USERS_FEMALE_AMOUNT' | translate }} <span>{{ statistics.femaleCount }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'MAKRO_REGISTERED_USERS_AVERAGE_AGE' | translate }}
          <span>{{ statistics.averageAge?.toFixed(2) }} {{ 'YEARS' | translate }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'MAKRO_REGISTERED_USERS_AVERAGE_HEIGHT' | translate }} <span>{{ statistics.averageHeight?.toFixed(2) }} cm</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'MAKRO_REGISTERED_USERS_AVERAGE_WEIGHT' | translate }} <span>{{ statistics.averageWeight?.toFixed(2) }} kg</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'MAKRO_FOODS_AMOUNT' | translate }} <span>{{ statistics.foods }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'MAKRO_DAYS_AMOUNT' | translate }} <span>{{ statistics.days }} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ 'PDF_CREATED' | translate }} <span>{{ statistics.pdf }} </span>
        </li>
      </ul>

      <h2 class="h2 text-center mt-3">{{ 'TOP_FOODS' | translate }}</h2>
      <p class="text-center text-muted">{{ 'TOP_FOODS_INFO' | translate }}</p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let food of statistics.topFoods">
          {{ food.name }} <span>{{ food.count }}</span>
        </li>
      </ul>
    </div>
    <p *ngIf="!loading && !statistics">{{ 'NETWORK_LOADING_ERROR' | translate }}</p>
  </div>
</div>
