<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h2 class="h2">{{ 'MY_SAVED_MEALS' | translate }}</h2>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="savedMeals.length > 0 || savedMealsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let savedMeal of savedMeals; let i = index">
          <div class="row">
            <div
              class="col-10 day-list-name"
              (click)="openAddMealModal(addMealModal, savedMeal)"
              title="{{ 'ADD_MEAL_TO_DAY' | translate }}"
            >
              {{ savedMeal.name }}
            </div>
            <div class="col-2">
              <div class="float-right">
                <div class="row">
                  <i
                    class="fas fa-pencil-alt mr-2"
                    (click)="openEditSharedMealModal(editShareMealModal, savedMeal)"
                    title="{{ 'EDIT_MEAL' | translate }}"
                  ></i>
                  <i class="far fa-minus-square" (click)="deleteSavedMeal(i)" title="{{ 'DELETE_MEAL' | translate }}"></i>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="savedMeals.length === 0 && !savedMealsDeleted">
    <div class="col-6 text-center">
      <h2 class="h2 text-muted">{{ 'NO_SAVED_MEALS' | translate }}</h2>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="savedMealsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block" (click)="deleteSavedMealsFromDb()">
        {{ 'SAVE_CHANGES' | translate }}
      </button>
      <p class="lead">{{ 'CHANGES_SAVED_WHEN_TEXT' | translate }}</p>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h2 class="h2">{{ 'MY_SHARED_MEALS' | translate }}</h2>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="sharedMeals.length > 0 || sharedMealsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let meal of sharedMeals; let i = index">
          <div class="row">
            <div class="col-10 day-list-name" (click)="openAddMealModal(addMealModal, meal)" title="{{ 'ADD_MEAL_TO_DAY' | translate }}">
              {{ meal.name }}
            </div>
            <div class="col-2">
              <div class="float-right">
                <div class="row">
                  <i
                    class="fas fa-pencil-alt mr-2"
                    (click)="openEditSharedMealModal(editShareMealModal, meal)"
                    title="{{ 'EDIT_MEAL' | translate }}"
                  ></i>
                  <i class="far fa-minus-square" (click)="deleteSharedMeal(i)" title="{{ 'DELETE_MEAL' | translate }}"></i>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="sharedMeals.length === 0 && !sharedMealsDeleted">
    <div class="col-6 text-center">
      <h2 class="h2 text-muted">{{ 'NO_SHARED_MEALS' | translate }}</h2>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="sharedMealsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block" (click)="deleteSharedMealsFromDb()">
        {{ 'SAVE_CHANGES' | translate }}
      </button>
      <p class="lead">{{ 'CHANGES_SAVED_WHEN_TEXT' | translate }}</p>
    </div>
  </div>
</div>

<ng-template #addMealModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ADD_MEAL_TO_DAY' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light lead">
            <div class="row">
              <div class="col-3">{{ 'MACROS' | translate }}:</div>
              <div class="col-3">{{ 'PROTEIN_ABBREVIATION_BOTH' | translate }}: {{ proteinTotal.toFixed(0) }}g</div>
              <div class="col-3">{{ 'CARBS_ABBREVIATION_BOTH' | translate }}: {{ carbTotal.toFixed(0) }}g</div>
              <div class="col-3">{{ 'FAT_ABBREVIATION_BOTH' | translate }}: {{ fatTotal.toFixed(0) }}g</div>
            </div>
          </li>
          <li class="list-group-item bg-light lead">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-3">{{ 'AMOUNT' | translate }}</div>
              <div class="col-3">{{ 'ENERGY' | translate }}</div>
            </div>
            <div class="row">
              <div class="col-6">{{ 'FOODS' | translate }}</div>
              <div class="col-3">{{ amountTotal.toFixed(0) }}g</div>
              <div class="col-3">{{ kcalTotal.toFixed(0) }} {{ 'KCAL' | translate }}</div>
            </div>
          </li>
          <li *ngFor="let food of selectedMeal.foods" class="list-group-item">
            <div class="row">
              <div class="col-6">{{ food.name }}</div>
              <div class="col-3">{{ food.amount.toFixed(0) }}g</div>
              <div class="col-3">{{ food.energy.toFixed(0) }} {{ 'KCAL' | translate }}</div>
            </div>
          </li>
        </ul>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <span class="mb-1" *ngIf="selectedMeal.portions">{{ 'AMOUNT_OF_PORTIONS' | translate }}: {{ selectedMeal.portions }}</span>
        </div>
        <div class="col">
          <span class="mb-1 float-right" *ngIf="selectedMeal.portionSize"
            >{{ 'PORTION_SIZE' | translate }}: {{ selectedMeal.portionSize }}g</span
          >
        </div>
      </div>
      <div class="form-group row mt-2" *ngIf="selectedMeal.portions">
        <div class="col">
          <label for="amount">{{ 'AMOUNT' | translate }} ({{ 'PORTIONS' | translate }})</label>
        </div>
        <div class="col">
          <input class="form-control" type="number" [(ngModel)]="amountToAddPortions" />
        </div>
      </div>
      <div class="form-group mt-2">
        <select class="form-control" [(ngModel)]="mealToAddSelectedMeal">
          <option *ngFor="let meal of meals" [ngValue]="meal">{{ meal.name }}</option>
        </select>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" (click)="modal.close('open')" [disabled]="!mealToAddSelectedMeal" class="btn btn-primary btn-block">
            {{ 'ADD' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editShareMealModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'EDIT_MEAL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #editShareMealForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group">
          <label for="sharedMealName">{{ 'NAME' | translate }}</label>
          <input type="text" name="sharedMealName" class="form-control" [(ngModel)]="selectedSharedMeal.name" required />
        </div>
        <div class="form-group">
          <label for="sharedMealInfo">{{ 'MORE_INFO_ABOUT_MEAL' | translate }}</label>
          <textarea type="textarea" name="sharedMealInfo" class="form-control" [(ngModel)]="selectedSharedMeal.info" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="sharedMealRecipe">{{ 'RECIPE' | translate }}</label>
          <textarea
            type="textarea"
            name="sharedMealRecipe"
            class="form-control"
            [(ngModel)]="selectedSharedMeal.recipe"
            rows="3"
          ></textarea>
        </div>
        <p class="lead">{{ 'FOOD_AMOUNT_GRAMS' | translate }}</p>
        <div class="form-group row" *ngFor="let food of selectedSharedMeal.foods; let i = index">
          <label for="foodAmount" class="lead col-sm-6 col-form-label">{{ food.name }}</label>
          <div class="col-sm-4">
            <input
              type="number"
              name="foodAmount"
              class="form-control"
              [(ngModel)]="food.amount"
              required
              [ngModelOptions]="{ standalone: true }"
              [value]="food.amount"
            />
          </div>
          <div class="col-sm-2">
            <i class="fas fa-eraser ml-3" (click)="removeFoodFromSharedMeal(i)" title="{{ 'REMOVE_FOOD_FROM_MEAL' | translate }}"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="hashtags">{{ 'TAGS_SEPARATED_BY_COMMA' | translate }}</label>
          <p class="text-muted" *ngIf="selectedSharedMeal.tags.length > 0">
            <ng-container *ngFor="let tag of selectedSharedMeal.tags; let i = index">
              <span class="tag" (click)="removeTagFromSharedMealTags(i)">#{{ tag }} </span>
            </ng-container>
          </p>
          <input
            type="text"
            name="hashtags"
            class="form-control"
            #hashtags="ngModel"
            [(ngModel)]="sharedMealTag"
            [ngClass]="{ 'is-invalid': hashtags.errors && hashtags.touched }"
            minlength="3"
            (keyup)="addTagToSharedMealTags($event.key)"
          />
          <div [hidden]="!hashtags.errors?.minlength" class="invalid-feedback">{{ 'TAG_NOT_LONG_ENOUGH' | translate }}</div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block">{{ 'SAVE' | translate }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
