ul {
  list-style: none;
  padding: 0;
}

.big-list {
  word-break: break-all;
  font-size: 25px;
}

.big-list:hover {
  font-size: 35px;
}

.small-list {
  word-break: break-all;
  font-size: 22px;
}

.small-list:hover {
  font-size: 30px;
}

.fa-pencil-alt:hover {
  cursor: pointer;
  color: #ff3b3f;
}

.fa-minus-square:hover {
  cursor: pointer;
  color: #ff3b3f;
}

.day-list-name:hover {
  cursor: pointer;
}

.small-column {
  max-height: 400px;
  overflow-y: scroll;
}

.fa-eraser:hover {
  color: #ff3b3f;
  cursor: pointer;
}

.tag:hover {
  cursor: pointer;
  color: #ff3b3f;
}

::-webkit-scrollbar {
  display: none;
}
