<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h1 class="display-4">Vastaukseni</h1>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="answers.length > 0 || answersDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let answer of answers; let i = index;">
          <div class="row">
            <div class="col-10 day-list-name" (click)="navigate(answer)">
              <p [innerHTML]="answer.answer"></p>
            </div>
            <div class="col-2">
              <i class="far fa-minus-square float-right" (click)="deleteAnswer(i)" title="Poista vastaus"></i>
            </div>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="answers.length === 0 && !answersDeleted">
    <div class="col-6 text-center">
      <h2 class="h2 text-muted">Ei vastauksia.</h2>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="answersDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block" (click)="deleteAnswersFromDb()">Tallenna
        muutokset</button>
      <p class="lead">Vastaukset poistetaan vasta, kun tallenna muutokset nappia on painettu.</p>
    </div>
  </div>
</div>