<div class="container mt-5">
  <h3>{{ 'RESET_PASSWORD' | translate }}</h3>
  <br />
  <form #resetPasswordForm="ngForm" (ngSubmit)="submit(resetPasswordForm)">
    <div class="form-group">
      <label class="lead" for="email">{{ 'EMAIL' | translate }}</label>
      <input
        type="text"
        name="email"
        class="form-control"
        placeholder="{{ 'EMAIL' | translate }}"
        [(ngModel)]="user.email"
        #userEmail="ngModel"
        [ngClass]="{ 'is-invalid': userEmail.errors && userEmail.touched }"
        required
      />
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">{{ 'EMAIL_REQUIRED' | translate }}</div>
    </div>
    <div class="form-group">
      <label class="lead" for="token">{{ 'PASSWORD_RESET_TOKEN' | translate }}</label>
      <input
        type="text"
        name="token"
        class="form-control"
        placeholder="{{ 'PASSWORD_RESET_TOKEN' | translate }}"
        [(ngModel)]="user.passwordResetToken"
        #userToken="ngModel"
        [ngClass]="{ 'is-invalid': userToken.errors && userToken.touched }"
        required
      />
      <div [hidden]="!userToken.errors?.required" class="invalid-feedback">{{ 'PASSWORD_RESET_TOKEN_REQUIRED' | translate }}</div>
    </div>
    <div class="form-group">
      <label class="lead" for="password">{{ 'PASSWORD' | translate }}</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="{{ 'PASSWORD' | translate }}"
        minlength="10"
        [(ngModel)]="user.password"
        #userPassword="ngModel"
        [ngClass]="{ 'is-invalid': userPassword.errors && userPassword.touched }"
        required
      />
      <div [hidden]="!userPassword.errors?.required" class="invalid-feedback">{{ 'PASSWORD_REQUIRED' | translate }}</div>
      <div [hidden]="!userPassword.errors?.minlength" class="invalid-feedback">{{ 'PASSWORD_NOT_LONG_ENOUGH' | translate }}</div>
    </div>
    <div class="form-group">
      <label class="lead" for="passwordAgain">{{ 'PASSWORD_AGAIN' | translate }}</label>
      <input
        type="password"
        name="passwordAgain"
        class="form-control"
        placeholder="{{ 'PASSWORD_AGAIN' | translate }}"
        [(ngModel)]="passwordAgain"
        #passAgain="ngModel"
        [ngClass]="{ 'is-invalid': passAgain.errors && passAgain.touched }"
        required
      />
      <div [hidden]="!passAgain.errors?.required" class="invalid-feedback">{{ 'REQUIRED_FIELD' | translate }}</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.form.valid">{{ 'RESET_PASSWORD' | translate }}</button>
  </form>
</div>
