<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
      <h2 class="h2 text-muted">{{ 'DAYS' | translate }} ({{ days?.length }})</h2>
      <app-data-list
        [data]="days"
        [propertiesToShow]="propertiesToShowDays"
        (open)="openDayModal(dayModal, $event)"
        (delete)="deleteDay($event)"
        (save)="deleteDaysFromDb()"
      ></app-data-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
      <h2 class="h2 text-muted">{{ 'SHARED_DAYS' | translate }} ({{ sharedDays?.length }})</h2>
      <app-data-list
        [data]="sharedDays"
        [propertiesToShow]="propertiesToShowSharedDays"
        (delete)="deleteSharedDay($event)"
        (save)="deleteSharedDaysFromDb()"
      ></app-data-list>
    </div>
  </div>
</div>

<ng-template #dayModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedDay.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"> <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <h5 class="h5 text-muted" *ngIf="selectedDay.username">{{ 'CREATED_BY' | translate }}: {{ selectedDay.username }}</h5>
      <h5 class="h5 text-muted" *ngIf="selectedDay.createdAt"
        >{{ 'CREATED_AT' | translate }}: {{ selectedDay.createdAt | date: 'dd.MM.yyyy' }}</h5
      >
      <h5 class="h5 text-muted" *ngIf="selectedDay.updatedAt"
        >{{ 'UPDATED_AT' | translate }}: {{ selectedDay.updatedAt | date: 'dd.MM.yyyy' }}
      </h5>
      <hr *ngIf="selectedDay.username || selectedDay.createdAt || selectedDay.updatedAt" />
      <div class="container">
        <h5 class="h5 text-muted">{{ 'TOTAL' | translate }}</h5>
        <div class="row">
          <div class="col">{{ 'ENERGY' | translate }}: {{ selectedDayTotals.energy.toFixed(0) }} kcal</div>
          <div class="col">{{ 'PROTEIN' | translate }}: {{ selectedDayTotals.protein.toFixed(0) }}g</div>
          <div class="col">{{ 'CARBS' | translate }}: {{ selectedDayTotals.carbs.toFixed(0) }}g</div>
        </div>
        <div class="row">
          <div class="col">{{ 'FAT' | translate }}: {{ selectedDayTotals.fat.toFixed(0) }}g</div>
          <div class="col">{{ 'FIBER' | translate }}: {{ selectedDayTotals.fiber.toFixed(0) }}g</div>
          <div class="col">{{ 'SUGAR' | translate }}: {{ selectedDayTotals.sugar.toFixed(0) }}g</div>
        </div>
      </div>
      <hr />
      <ng-container *ngFor="let meal of selectedDay.allMeals">
        <p class="text-muted">{{ meal.name }}</p>
        <ul>
          <li *ngFor="let food of meal.foods">{{ food.name }} - ({{ food.amount }}g)</li>
        </ul>
      </ng-container>
      <hr />
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary btn-block" (click)="modal.close('cancel')">{{ 'CLOSE' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
