<div class="container">
  <div class="row justify-content-center" *ngIf="online && !loading">
    <div class="col-6">
      <button
        class="btn btn-block btn-outline-success mt-3"
        (click)="openModal(trackedPeriodModal)"
        title="{{ 'ADD_TRACKED_PERIOD' | translate }}"
      >
        <i class="fas fa-plus"></i> {{ 'ADD_TRACKED_PERIOD' | translate }}
      </button>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-6 text-center">
      <h2 class="h2">{{ 'MY_SAVED_TRACKED_PERIODS' | translate }}</h2>
    </div>
  </div>

  <app-loading-spinner *ngIf="loading"></app-loading-spinner>

  <div class="row justify-content-center" *ngIf="trackedPeriods.length > 0 || trackedPeriodsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <ul>
        <li class="big-list lead" *ngFor="let tp of trackedPeriods; let i = index">
          <div class="row">
            <div class="col-10 day-list-name" (click)="openTrackedPeriod(tp)" title="{{ 'LOAD_TRACKED_PERIOD' | translate }}">
              {{ tp.name }}
            </div>
            <div class="col-2">
              <i
                class="far fa-minus-square float-right"
                (click)="deleteTrackedPeriod(i)"
                title="{{ 'DELETE_TRACKED_PERIOD' | translate }}"
              ></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="trackedPeriodsDeleted">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <button type="button" class="btn btn-outline-success btn-block" (click)="deleteTrackedPeriodsFromDb()">
        {{ 'SAVE_CHANGES' | translate }}
      </button>
      <p class="lead">{{ 'CHANGES_SAVED_WHEN_TEXT' | translate }}</p>
    </div>
  </div>

  <app-loading-spinner *ngIf="loadingTrackedPeriod"></app-loading-spinner>

  <div *ngIf="selectedTrackedPeriod" class="mt-5">
    <p>
      <span class="lead">{{ 'TRACKED_PERIOD_DAYS' | translate }}: </span>
      <ng-container *ngFor="let day of selectedTrackedPeriod.days; let i = index">
        <span class="text-muted">{{ day.name }}<span *ngIf="i + 1 < selectedTrackedPeriod.days.length">, </span></span>
      </ng-container>
    </p>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'NAME' | translate }} <span>{{ selectedTrackedPeriod.name }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'TOTAL_CALORIES' | translate }}
        <span title="{{ selectedTrackedPeriod.totalCalories }} {{ 'KCAL' | translate }}"
          >{{ selectedTrackedPeriod.totalCalories.toFixed(2) }} {{ 'KCAL' | translate }}</span
        >
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'AVERAGE_CALORIES_PER_DAY' | translate }}
        <span title="{{ selectedTrackedPeriod.averageCaloriesPerDay }} {{ 'KCAL' | translate }}"
          >{{ selectedTrackedPeriod.averageCaloriesPerDay.toFixed(2) }} {{ 'KCAL' | translate }}</span
        >
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'SMALLEST_CALORIES' | translate }}
        <span title="{{ selectedTrackedPeriod.smallestCalorieCount }} {{ 'KCAL' | translate }}"
          >{{ selectedTrackedPeriod.smallestCalorieCount.toFixed(2) }} {{ 'KCAL' | translate }}</span
        >
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'BIGGEST_CALORIES' | translate }}
        <span title="{{ selectedTrackedPeriod.biggestCalorieCount }} {{ 'KCAL' | translate }}"
          >{{ selectedTrackedPeriod.biggestCalorieCount.toFixed(2) }} {{ 'KCAL' | translate }}</span
        >
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'TOTAL_PROTEIN' | translate }}
        <span title="{{ selectedTrackedPeriod.totalProtein }}g">{{ selectedTrackedPeriod.totalProtein.toFixed(2) }}g</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'TOTAL_CARBS' | translate }}
        <span title="{{ selectedTrackedPeriod.totalCarbs }}g">{{ selectedTrackedPeriod.totalCarbs.toFixed(2) }}g</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'TOTAL_FAT' | translate }}
        <span title="{{ selectedTrackedPeriod.totalFat }}g">{{ selectedTrackedPeriod.totalFat.toFixed(2) }}g</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'TOTAL_FIBER' | translate }}
        <span title="{{ selectedTrackedPeriod.totalFiber }}g">{{ selectedTrackedPeriod.totalFiber.toFixed(2) }}g</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'TOTAL_SUGAR' | translate }}
        <span title="{{ selectedTrackedPeriod.totalSugar }}g">{{ selectedTrackedPeriod.totalSugar.toFixed(2) }}g</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ 'TOTAL_WEIGHT' | translate }}
        <span title="{{ selectedTrackedPeriod.totalFoodWeight }}g">{{ selectedTrackedPeriod.totalFoodWeight.toFixed(2) }}g</span>
      </li>
    </ul>
    <button class="btn btn-sm btn-outline-warning btn-block mt-2" (click)="openEditTrackedPeriodModal(editTrackedPeriodModal)">
      <i class="far fa-edit"></i> {{ 'EDIT_TRACKED_PERIOD' | translate }}
    </button>
  </div>
</div>

<ng-template #trackedPeriodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'ADD_TRACKED_PERIOD' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #trackedPeriodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="time period name">{{ 'NAME' | translate }}</label>
          <div class="col-sm-8">
            <input type="text" name="trackedPeriodName" class="form-control" [(ngModel)]="newTrackedPeriod.name" required />
          </div>
        </div>
        <div *ngIf="addedDays.length > 0">
          <p>{{ 'ADDED_DAYS' | translate }}</p>
          <p class="text-muted">
            <ng-container *ngFor="let day of addedDays; let i = index">
              <span class="day" (click)="removeDayFromAddedDays(i)">{{ day.name }}<span *ngIf="i + 1 < addedDays.length">, </span></span>
            </ng-container>
          </p>
        </div>
        <div class="form-group">
          <label for="all days">{{ 'ALL_DAYS' | translate }}</label>
          <select class="form-control" name="username" (change)="selectDay($event.target.value)">
            <option [value]="-1" selected>{{ 'CHOOSE_DAY' | translate }}</option>
            <option *ngFor="let day of days; let i = index" [value]="i">{{ day.name }}</option>
          </select>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!trackedPeriodForm.form.valid">
                {{ 'ADD' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #editTrackedPeriodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'EDIT_TRACKED_PERIOD' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('x')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form #trackedPeriodForm="ngForm" (ngSubmit)="modal.close('save')">
        <div class="form-group row">
          <label class="lead col-sm-4 col-form-label" for="time period name">{{ 'NAME' | translate }}</label>
          <div class="col-sm-8">
            <input type="text" name="trackedPeriodName" class="form-control" [(ngModel)]="selectedTrackedPeriod.name" required />
          </div>
        </div>
        <div *ngIf="addedDays.length > 0">
          <p>{{ 'ADDED_DAYS' | translate }}</p>
          <p class="text-muted">
            <ng-container *ngFor="let day of addedDays; let i = index">
              <span class="day" (click)="removeDayFromAddedDays(i)">{{ day.name }}<span *ngIf="i + 1 < addedDays.length">, </span></span>
            </ng-container>
          </p>
        </div>
        <div class="form-group">
          <label for="all days">{{ 'ALL_DAYS' | translate }}</label>
          <select class="form-control" name="username" (change)="selectDay($event.target.value)">
            <option [value]="-1" selected>{{ 'CHOOSE_DAY' | translate }}</option>
            <option *ngFor="let day of days; let i = index" [value]="i">{{ day.name }}</option>
          </select>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-warning btn-block" (click)="modal.close('cancel')">{{ 'CANCEL' | translate }}</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!trackedPeriodForm.form.valid">
                {{ 'ADD' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
